
a:focus button{
  background-color:white;
}

a:focus button,
a:hover button{
  border-radius: 0px;
  cursor: pointer;
}
button {
  margin-bottom:clamp($unit-min, $unit, $unit-max);
  width: 100%;
  padding: 2% 0;
  background:transparent;
  color:$dark;
  border-radius:100%;
  border: $border;
  @include font-body;
  &.square,
	&:focus,
  &:hover {
    cursor: pointer;
    border-radius: 0px;
  }
}