select{
  width:100%;
  display:inline-block;
  padding:clamp($unit-min/1.5, $unit/1.5, $unit-max/1.5) 
          clamp($unit-min*1.5, $unit*1.5, $unit-max*1.5)
          clamp($unit-min/1.5, $unit/1.5, $unit-max/1.5) 
          clamp($unit-min*1.2, $unit*1.2, $unit-max*1.2);
  border: $border;
  border-radius: $border-radius;
  @include font-body;
  box-sizing:border-box;
  background-color:transparent;
  height:clamp($unit-min*3.8, $unit*3.8, $unit-max*3.8);
  -webkit-appearance: none;

}
select:focus{
  background-color:white;
}
select.loading{
  background-image:url("/loading.gif");
  background-size: clamp($unit-min, $unit, $unit-max);
  background-position:95% center;
  background-repeat:no-repeat;
}