$tv: "Temp.var";
$m: 10vw; //margin
$sw: 100vw - $m - $m * 1.5;
$tw: $sw/10;
$fs: 2.9vw;
@import 'dds_default_font';

$_cb: cubic-bezier(0,.69,1,.73);
$_G_CB: $_cb;
$_G_animation__QUANTOM_timing_function: opacity .8s $_G_CB 10ms;
$_G: $_G_animation__QUANTOM_timing_function;
$_g: $_G;
$focus: #00ffcd;
$black: #050517;
$white: #ffffff;
$intro_height: $tw*10;
$values_height: $tw*12;
$investments_height:$tw*13;
.vertical-space{
  height:10vh;
  width:100vw;
  display: block;
}
*::selection {
  color: $black;
  background: $focus;
  text-transform: lowercase;
}

.companyname {
  width:5vw;
  height:2vw;
  padding:1vw 3.7vw;
  border-radius:50%;
  border: 1px solid $black;
  background-color:$white;
  img{
    height:100%;
  }
}
body {
  background-color:#fff;
  font: normal 2.5vw/1.5 "Fira Code", "Anonymous Pro", "Courier New", monospace !important; /* :-) */
  color: $black;
  overflow-x:hidden;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    font-weight: normal;
    font-size: $fs;
    strong{
      font-weight: 500;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
  {
      font-family: "fallback", sans-serif;
  }
  h2{
    font-size:($fs*2)*.8
  }
  h1 {
  font-size:$fs*2;
  }

  p{
    font-size: $fs;
  }
  del{

    /**Redacted**/
    display:inline-block;
    user-select: none;
    cursor: none;
    transform: rotate(.2deg) skew(-.2deg);
    color: transparent;
    &:after,
    &:before{
      height: 33%;
      width:110%;
      position:absolute;
      border-radius: .1vw;
      left:0;
      top:0;
      z-index:-4;
      content:' ';
      background:$black;
    }
    &:before{
      transform: translate(-.1vw, 1.5vw) rotate(1deg);
    }
    &:after{
      transform:translate(-0.25vw, 1.1vw) rotate(2deg) skewy(.2deg);
    }
  }
  header {
    z-index: 1000;
    width: 0;
    margin: 0;
    color: $black;
    &:before,
    &:after {
      display: none;
    }
    a {
      z-index:3000;
      top: 0;
      line-height: 2vw;
      margin: 0;
    }
    .companyname{
      text-decoration: none;
      top:$m;
      position: fixed;
      left:$m;
    }
    .index-btn{
      text-decoration: none;
      top:$m;
      position: fixed;
      box-sizing: border-box;
      top:$m;
      left:($m*1.5)+($tw*8);
      display:block;
      z-index: 2005;
      background:$white;
      border:1px solid $black;
      width:$tw*2;
      height:$tw/2;
      line-height:$tw/2;
      text-align: center;
    }
    .companyname:before {
      content: "コールド";
      position:absolute;
      width:$m*2;
      transform:rotate(90deg) translate(10vw, .2vw);
      transform-origin: bottom left;
    }
  }
  main {
    margin: $m $m $m $m * 1.5;
    width: 100vw-10vw-15vw;
    height: $investments_height + $values_height + $intro_height;
  }
  a:hover,
  a {
    color: $black;
  }
  a:hover {
    text-decoration: none;
  }
  li {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
  section {
    h2 {
      padding-left: $tw;
    }
  }
}
.index{
  display:none;
  position:fixed;
  z-index:2004;
  background:$white;
  top:$m;
  right:$m;
  padding-top:$tw;
  border:1px solid $black;
  box-sizing: border-box;
  width:$tw*5;
  height:$tw*4;
  ul li{
    margin-left:$tw;
    width:$tw*3;
  }
  &.toggled{
    display:block;
  }
}
/*

    PRODUCTS

*/

section#intro {
  margin: 0;
  padding: 0;
  top:0;
  margin-left: $tw * 2;
  height:$intro_height;
  button{
    bottom:0;
    position: absolute;
  }
  h1 {
    position:absolute;
    margin-left: 0;
    transform: translateY(-2vw);
    font-size:$fs*2;
    margin-top:$tw*4;
    top:0;
    width:$tw*6;
    font-family: "fallback", sans-serif;
    text-decoration: underline;
    display: inline;
    text-transform: lowercase;
    z-index: 3;
    margin-bottom: $fs*2*1.5;
  }
  img{
    position: absolute;
    height:auto;
    width:$tw*4;
    margin-top:$tw;
    left:$tw;
    z-index: -1;
    border:1px solid $black;
    box-sizing: border-box;
  }
  p {
    top:0;
    position:absolute;
    margin-top:$tw*7;
    width:$tw*6;
    margin-bottom: $fs * 1.5;
    font-size: 100%;
  }
}

#values{
  height:$values_height;
  h2{
    position:absolute;
    top:$tw*1.775;
  }
  p{
    top:0;
    position:absolute;
    margin-top:$tw*2.95;
    width:$tw*7;
    margin-left:$tw;
    &:nth-child(2){
      margin-top:$tw*4.95;
    }
  }
  nav{
    position:absolute;
    top:0;
    margin-top:$tw*8;
    article{
      border-bottom:1px solid $black;
      max-height:$fs*1.5;
      overflow:hidden;
      width:$tw*7;
      margin-left:$tw;
      &.toggled{
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        position: fixed;
        display: block;
        z-index: 3000;
        top: 0;
        left: 0;
        background: #fff;
        border: none;
        margin:0;
        h3{

          width:$tw*7;
          left:($m*1.5)+$tw;
        }
        h3{
          top:$m;
          position:fixed;
          font-size:($fs*2)*.8;
          .nr{
            display:none;
          }
        }
        .content{
          margin-left:($m*1.5)+$tw;
          width:$tw*7;
          border-top:$m+($tw*2) transparent solid;
          border-bottom:$m transparent solid;
          box-sizing: border-box;
          max-height:100vh;
          overflow: scroll;

        }
        p{
          margin-top:0;
        }
      }
      h3{
        width:100%;
        padding-left:0;
        .nr{
          float:right;
          width:$fs;
          height:$fs;
          border-radius:50%;
          border: 1px solid $black;
          font-size: $fs/2;
          text-align:center;
          transform: translatey(.5vw);
          line-height: $fs;
        }
      }
      p{
        position: relative;
        margin:0;
        border-top:$fs/2 transparent solid;
        border-bottom:$fs transparent solid;
        box-sizing: border-box;
        width:100%;
      }
    }
  }

}



#investments{
  position:absolute;
  height:$investments_height;
  h2{
    margin-left:-(.3vw);
    margin-top:-1.4vw;
  }
  article.stock{
    width:$tw*5;
    height:$tw;
    line-height:$tw/2;
    text-align: center;
    border-radius:50%;
    border:1px solid $black;
    box-sizing: border-box;
    position: absolute;
    margin-top:$tw*5;
    &:nth-child(3){
      //tesla
      margin-top:$tw*5.5;
    }
    &:nth-child(4){
      //apple
      margin-top:$tw*6;
    }
    &:nth-child(5){
      //google
      margin-top:$tw*6.5;
    }
    &:nth-child(6){
      //twitter
      margin-top:$tw*7;
    }
    p{
      text-align: inherit;
      width: 100%;
    }
  }
  h2,
  .arrow,
  p,
  figure{
    position:absolute;
  }
  figure{
    box-sizing: border-box;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:$focus;
  }
  .arrow{
    &:before,
    &:after{
      display:block;
      height: $tw/4;
      width:1px;
      background:$black;
      transform-origin: top;
      position:absolute;
      display:block;
      content: ' ';
    }
    &:before{
      transform:rotate(45deg) translatex(-1px);
    }
    &:after{
      transform:rotate(-45deg) translatex(-1px);
    }
  }

  // montcada-i
  article:nth-child(2){
    figure{
      margin-left:$tw*2;
      margin-top:$tw*2;
      border:1px solid $black;
      width:$tw*3;
      height:$tw*2;
    }
    p{
      width:$tw*3;
      margin-left:$tw*6;
      margin-top:$tw*5;
    }
    .arrow{
      width:$tw;
      height:$tw*2;
      display:block;
      left: $tw*6;
      top:$tw*3;
      border-top: 1px solid $black;
      border-right: 1px solid $black;
      &:before{
        transform:rotate(-135deg) translatex(1px);
      }
      &:after{
        transform:rotate(-45deg) translate(0px,-1px);
      }
    }
  }
  article:nth-child(7){
    figure{
      margin-left:$tw*6;
      margin-top:$tw*9;
      border:1px solid $black;
      width:$tw*3;
      height:$tw*2;
    }
    p{
      width:$tw*5;
      margin-left:$tw;
      margin-top:$tw*11;
    }
    .arrow{
      width:$tw*3;
      height:$tw;
      display:block;
      left: $tw*2;
      top:$tw*10;
      border-top: 1px solid $black;
      border-left: 1px solid $black;
      &:before,
      &:after{
        left:$tw*3;
      }
      &:before{

        transform:rotate(45deg);
      }
      &:after{
        transform:rotate(135deg);
      }
    }
  }

}



/*

   FOOTER

*/

footer {
  padding-top: 4vw;
  text-align: left;
  width: 100vw - $m * 2;
  margin: $m;
  text-align: left;
  bottom: 0;
  height: 4vw;
  display: block;
  .circles,
  .circles:before,
  .circles:after {
    margin-left:$m/2;
    transform:translatey($tw/3);
    width:$fs;
    height:$fs;
    border-radius:50%;
    border:1px solid $black;
    display: block;
    content: ' ';
    left:0;
    bottom:0;
  }
  a {
    float: right;
  }
}
button{
  font-size:$fs;
  color:$black;
  padding:1vw 5vw;
  border-radius:50%;
  background-color:transparent;
  border:$black solid 1px;
  display: block;
  font-family:'fallback', sans-serif;
  &:hover{
    background-color:$focus;
  }
}
section{
  padding-top:$tw;
  position:relative;
  h2{
    margin-bottom:0;
  }
  &#about{
    p{
      text-align:justify;
    }
  }
  &#methodology{
    p{
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(7){
        margin-left:$tw*4;
      }
    }
  }
  button{
    width:$tw*6;
  }
}


.guides {
  $tv: $focus;
  opacity: 0;
  transition: $_G;
  .vertical{
    width: 1px;
    height: 100vh;
    background: transparent;
    position:fixed;
    top: 0;
    border-left:dashed 1px $focus;
    &.one {
      left: $m * 1;
    }
    &.two {
      left: $m * 1.5;
    }
    &.three,
    &.four,
    &.five,
    &.six {
      left: ($m * 1.5);
    }
    &.three{
      margin-left: $tw;
    }
    &.four{
      margin-left: $tw*2;
    }
    &.five{
      margin-left: $tw*3;
    }
    &.six{
      margin-left: $tw*4;
    }
    &.seven{
      margin-left: $tw*5;
    }
    &.eight{
      margin-left: $tw*6;
    }
    &.nine{
      margin-left: $tw*7;
    }
    &.ten{
      margin-left: $tw*8;
    }
    &.eleven{
      margin-left: $tw*9;
    }
    &.twelve{
      margin-left: $tw*10;
    }
    &.thirteen{
      margin-left: $tw*11;
    }
    &.fourteen{
      margin-left: $tw*12;
    }
  }
  .horizontal{
    height:1px;
    width:100vw;
    background:transparent;
    border-bottom:1px $focus dashed;
    position:absolute;
    display:block;
    top:$m;
    left:0;
    &.two{
      margin-top:$tw;
    }
    &.three{
      margin-top:$tw*2;
    }
    &.four{
      margin-top:$tw*3;
    }
    &.five{
      margin-top:$tw*4;
    }
    &.six{
      margin-top:$tw*5;
    }
    &.seven{
      margin-top:$tw*6;
    }
    &.eight{
      margin-top:$tw*7;
    }
    &.nine{
      margin-top:$tw*8;
    }
    &.ten{
      margin-top:$tw*9;
    }
    &.eleven{
      margin-top:$tw*10;
    }
    &.twelve{
      margin-top:$tw*11;
    }
    &.thirteen{
      margin-top:$tw*12;
    }
    &.fourteen{
      margin-top:$tw*13;
    }
    &.fifteen{
      margin-top:$tw*14;
    }
    &.sixteen{
      margin-top:$tw*15;
    }
    &.seventeen{
      margin-top:$tw*16;
    }
    &.eighteen{
      margin-top:$tw*17;
    }
    &.nineteen{
      margin-top:$tw*18;
    }
    &.twenty{
      margin-top:$tw*19;
    }
    &.twentyone{
      margin-top:$tw*20;
    }
    &.twentytwo{
      margin-top:$tw*21;
    }
    &.twentythree{
      margin-top:$tw*22;
    }
    &.twentyfour{
      margin-top:$tw*23;
    }
    &.twentyfive{
      margin-top:$tw*24;
    }
    &.twentysix{
      margin-top:$tw*25;
    }
  }
}
.lol .guides {
  opacity: 1;
}
/*

  THIS IS SUPPOSED TO BE AN EXPRESSION

*/
