
.chart{
    background:#FFF;
    padding:$big-clamp 0;
    border-right:#fff solid  $medium-clamp;
    border-left:#fff solid  $medium-clamp;
    box-sizing: border-box;
    border-radius:4px;
}

.chart,
canvas,
.chartjs{
    width:100%;
}