
/*
@media (prefers-color-scheme: dark) {

	a:focus button,
	*::selection,
	*:focus{
		background: $tuscany;
	}
	body {
		background-color: $midnight !important;
		color: $noon;
	}
	.image{
		filter:grayscale(1);
	}
	button{
		color: $noon;
		border-color:$noon;
	}
	.insignia {
		stroke:$noon;
	}
	pre code{
		&:before,
		&.show-code{
			color: $noon;
		}
	}
	.menu,
	a{
		color: $noon;
	}
}
*/