// <table>

table{
    width: 100%;
}
tr {
    th,
    td{
        text-align:left;
        border-bottom: $border;
        font-size:80%;
    }
}
// <code>

pre code {
    display: block;
    overflow-x: auto;
    padding: $medium-clamp;
    margin: $medium-clamp 0;
    @include font-monospace;
    font-size:80%;
    background-color: rgba($blue,0.1);
    line-height:1.2;
    height: $medium-clamp;
    color: transparent;
      overflow:hidden;
    &:hover{
      cursor: pointer;
    }
    &.show-code{
      color: black;
      height: auto;
      padding: $medium-clamp;
      &:before{
        display: block;
        content: '';
        color:transparent;
      }
      &:hover{
        cursor: auto;
      }
    }
    &:before{
      position: absolute;
      display: block;
      content: '> show code';
      color:black;
    }
  }

// <form>

.section form input,
.section form button,
.section form input[type=submit]
{
    margin-top:$medium-clamp-half;
}
.section form input[type=password],
.section form input[type=number],
.section form input[type=email],
.section form input[type=text]{
  width:100%;
  max-width: 100%;
  border-radius:0;
  background-color: $light;
  @include font-body;
  border-radius: 0%;
  border: $border;
  height:$medium-clamp;
  margin: $medium-clamp  0;
  box-sizing: border-box;
  padding: $medium-clamp $medium-clamp-half;
  &:focus{
    border-style: dashed;
  }
}
.section form input[type=radio]{
  width:$big-clamp-half;
  height:$big-clamp-half;
}
.section form input[type=submit],
.section button {
  width: 100%;
  padding: 2% 0;
  @include font-body;
  border-radius:100%;
  border:$border;
}



.section form input[type=submit]:focus,
a:focus button{
	background:mix($blue, white, 21%);
}

.section form input[type=submit],
a:focus button,
a:hover button{
  border-radius: 0%;
  cursor: pointer;
}