// <table>

table{
    width: 100%;
}
tr {
    th,
    td{
        text-align:left;
        border-bottom: $border;
        font-size:80%;
    }
}
// <code>

pre code {
    display: block;
    overflow-x: auto;
    padding: $medium-clamp;
    margin: $medium-clamp 0;
    @include font-monospace;
    font-size:80%;
    background-color: $tuscany-20;
    line-height:1.2;
    height: $medium-clamp;
    color: transparent;
      overflow:hidden;
    &:hover{
      cursor: pointer;
    }
    &.show-code{
      color: $midnight;
      height: auto;
      padding: $medium-clamp;
      &:before{
        display: block;
        content: '';
        color:transparent;
      }
      &:hover{
        cursor: auto;
      }
    }
    &:before{
      position: absolute;
      display: block;
      content: '> show code';
      color:$midnight;
    }
  }

// <form>

form input[type=date],
form input[type=password],
form input[type=number],
form input[type=email],
form input[type=text]{
  background: transparent;
  width:100%;
  border-radius:0;
  @include font-body;
  border-radius: 0%;
  border: $border;
  max-width: 100%;
  height:$medium-clamp;
  margin: $medium-clamp-half  0 $medium-clamp 0;
  box-sizing: border-box;
  padding: $medium-clamp $medium-clamp-half;
  &:focus{
    border-style: dashed;
  }
}
.section form input[type=radio]{
  width:$big-clamp-half;
  height:$big-clamp-half;
}
.section form input[type=submit],
.section button {
  width: 100%;
  padding: 2% 0;
  @include font-body;
  border-radius:100%;
  border:$border;
  background:$noon;
}



form input[type=submit]:focus,
a:focus button{
	background:$tuscany-20;
}

form input[type=submit],
a:focus button,
a:hover button{
  border-radius: 0%;
  cursor: pointer;
}


form{
  input[type=email],
  input[type=password]{
    margin-top:$medium-clamp-half;
  }
}

// this should probably be removed
del{
	pointer-events: none;
	background: #000;
	opacity:.8;
	border-radius: 3% 1% .5% 1%;
  user-select: none;
	transform:rotate(25deg);
	&:hover{
		cursor: not-allowed;
	}
}


// used under sign in form and at the bottom of the profile page


.section .underbutton{
  border:none;
  font-size:70%;
  text-decoration: underline;
}
.section .underbutton:focus,
.section .underbutton:active{
  background:transparent;
}



// Toggle switch

.switch {
  position: relative;
  display: inline-block;
  top: clamp($__BU__MIN*0.5, $__BU__VAL*0.5, $__BU__MAX*0.5);
  width: clamp($__BU__MIN*3.5, $__BU__VAL*3.5, $__BU__MAX*3.5);
  height: $medium-clamp;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $tuscany-20;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: clamp($__BU__MIN*1.8, $__BU__VAL*1.8, $__BU__MAX*1.8);
  width: clamp($__BU__MIN*1.8, $__BU__VAL*1.8, $__BU__MAX*1.8);
  left: clamp($__BU__MIN*0.1, $__BU__VAL*0.1, $__BU__MAX*0.1);
  bottom: clamp($__BU__MIN*0.1, $__BU__VAL*0.1, $__BU__MAX*0.1);
  background-color: $noon;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $tuscany;
}

input:focus + .slider {
  box-shadow: 0 0 1px $tuscany;
}

input:checked + .slider:before {
  transform: translateX(clamp($__BU__MIN*1.4, $__BU__VAL*1.4, $__BU__MAX*1.4));
}

/* Rounded sliders */
.slider.round {
  border-radius: clamp($__BU__MIN*1.9, $__BU__VAL*1.9, $__BU__MAX*1.9);
}
.slider.round:before {
  border-radius: 50%;
}

// PILLS

.pills input{
  display:none; 
}
.pills label{
  font-size:70%;
  padding:2px 8px;
  border:1px solid $midnight;
  border-radius:3px;
  margin-right:10px;
}