

//  Header (logo + cart)

header {
  button.logo {
    left: $border-width;
    span{
      font-weight: 500;
    }
  }
  button#menu {
    right: $big-clamp;
  }
	button#menu:active,
	button#menu:focus{
		background-color: transparent;
	}

  button {
    font-size: $medium-clamp;
		line-height: $medium-clamp;
    position: fixed;
    top: $border-width;
    border: 0;
    &:hover{
      text-decoration: underline;
      &:before{
        text-decoration: underline;

      }
    }
  }

  .menu {
    button{
      z-index: 3;
    }
    ul {
      opacity:0;
      pointer-events : none;
      position: fixed;
      z-index: 3;
      margin: 0;
      padding: 0 0 0 $big-clamp-half;
      //Proprietary clamps for the menu
	    top: clamp(28px, 6.4vw, 60px); // to ensure the menu is under the logo
      left: clamp(48px, 12vw, 86px);
      li {
        line-height: 1;
        * {
          @include font-body;
          padding: 0;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}





// Toggling the menu
.show-menu{
  .page{
    opacity:0;
    pointer-events : none;
  }
  .menu{
    button{
      &:before{
        content:"close  ";
        display:inline-block;
      }
    }
    ul {
      display:block;
      opacity:1;
      pointer-events : all;
    }
  }
} 

.my-profile-button{
  width:$medium-clamp;
  height:$medium-clamp;
  display:block; 
  border-radius:50%;
  position:fixed;
  top:$border-width;
  right:$border-width;
  background-image: url("/images/happy.svg");
  background-size:contain;
  margin: $big-clamp-half;
  &:hover{
    background-image: url("/images/suprised.svg");
  }
}

.notification{
  min-width: calc($__BU__MIN / 2);
  width:     calc($__BU__VAL / 2);
  max-width: calc($__BU__MAX / 2);
  min-height: calc($__BU__MIN / 2);
  height:     calc($__BU__VAL / 2);
  max-height: calc($__BU__MAX / 2);
  top:$border-width;
  right:$border-width;
  margin: clamp(12px, 3.24vw, 25px);
  position: fixed;
  display:block;
  border-radius:50%;
  background-color:rgba(red,0.2);
}
