@import 'vars-and-mixins';
@import 'reset';            // css reset, overriding browser rendering engines
@import 'menu';             // menu
@import 'elements';         // forms, anchors, headers etc
@import 'chart';         // forms, anchors, headers etc

a:focus button{
	background:mix($blue, white, 21%);
}
a:focus{
	button{
		border-radius: 0%;
    cursor: pointer;
	}
}



// Page wrapper

.page{
  padding: clamp(48px, 10.8vw, 78px) 0 $sectionpadding 0;
}


//  Sections

.section {
  width: $sitewidth;
  max-width: $maxsitewidth;
  padding: $sectionpadding 0 0 0;
  margin: auto;
  .frame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: start;
		canvas{
			height: 32vw;
			max-height: 268px;

		}
    .image {
			height: 32vw;
			max-height: 268px;
      display: inline-block;
	    flex-grow: 1;
	    flex-basis: 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
			background-color:rgba($blue, 0.2);
			border-radius:2px;
      &:first-child {
        height: 50vw;
        max-height: 418px;
      }
			&:last-child{
				margin-left: $medium-clamp;
			}
    }
    &:after {
      display: block;
      margin: 0px;
      flex: 999 999 auto;
    }
  }
  .block {
    margin: 40px 0;
    h3{
      font-size: 110%;
      font-weight: 400;
    }
    h4{
      text-decoration: underline;
    }
    h3, h4{
      margin:$medium-clamp 0 $medium-clamp-half 0;
    }
    p{
      margin: $medium-clamp-half 0;
    }
    ol{
      list-style: decimal;
      margin-left: clamp(33.6px, 8.64vw, 62.4px);
    }
    ul{
      margin-left: clamp(33.6px, 8.64vw, 62.4px);
    }
    ul > li {
      margin-bottom:$medium-clamp-half;
    }
    ul > li:before {
			position: relative;
			margin-left: -7%;
			margin-right: 3.3%;
			content: "\2192";
    }
  }
  nav{
    ol{
      li{
        @include font-body;
        font-size: 75%;
        line-height: 150%;
        width:100%;
        .category,
        .subject,
        .date{
          display:inline-block;
        }
        .category{
          width:20%;
          a:after{
            content: "";
          }
        }
        .subject{
          width:67%;
        }
        .date{
          width:10%;
          text-align:right;
          float:right;
        }
      }
    }
  }
  button {
    width: 100%;
    padding: 2% 0;
    @include font-body;
  }
  input{
		background-color: $light;
		max-width: $maxsitewidth;
    width:$sitewidth;
    @include font-body;
    border-radius: 0%;
    border: $border;
    height:$medium-clamp;
    margin: $medium-clamp  0;
		box-sizing: border-box;
    padding: $medium-clamp $medium-clamp-half;
		&:focus{
			border-style: dashed;
		}
  }
	form{
		input:not(:placeholder-shown) {
			border-color: $blue;
		}

		input:not(:placeholder-shown):not(:focus) {
			border-radius:50%;
			text-align:center;
		}
	}
}


// The grid

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
  align-content: start;
  margin: auto;
  h1{
    width:100%;
    display: block;
  }
	a{
		text-decoration: none;
		&:hover{
			h2{
				text-decoration: underline;
			}
			button{
				border-radius:0%;
			}
		}
	}
  .item {
    width: calc($sitewidth / $column-divider);
    max-width: calc($maxsitewidth / $column-divider);
    flex: 0 0 auto;
    margin: 0 0 clamp(56px, 14.4vw, 104px) 0;
    .image {
      margin-bottom: $medium-clamp;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      width: calc($sitewidth / $column-divider);
      max-width: calc($maxsitewidth / $column-divider);
      height: calc($sitewidth / $column-divider);
      max-height: calc($maxsitewidth / $column-divider);
    }
    .body {
      h2 {
        @include font-body;
        margin-bottom: 0;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
      }
      p {
        font-size: 75%;
        line-height: 150%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: $medium-clamp;
      }

      .byline:before{
        position: relative;
        display: inline;
        content: 'By ';
      }
    }
    button{
      font-size:75%;
    }
  }
}
#artwork {
	margin-top:0;
	padding-top:0;
	.image{
		background-color:white;
		width:100vw;
		height:95vh;
		max-height: 100vw;
		border: $big-clamp solid #fff;
		box-sizing: border-box;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	#description{
		margin-top:$sectionpadding;

	}
  .section{
    margin:0 auto;
		padding:0;
    h2{
      @include font-display;
      margin:0;
    }
    p{
      @include font-body;
      line-height: 150%;
      margin-bottom: $medium-clamp;
    }
		.byline{
			margin-top:$medium-clamp-half;
	    &:before{
	      position: relative;
	      display: inline;
	      content: 'By ';
	    }
		}
    button{
	    @include site-width;
	    background: $light;
		}
	}
}
#artwork{
	#information{
		margin-top:$sectionpadding;
		padding-bottom:$sectionpadding;
		li{
			font-size:80%;
			line-height: 150%;
			overflow:hidden;
	    border-bottom: 1px dotted rgba(0,0,0,.5);
			span{
				width: 37%;
		    vertical-align:top; /* <------ HAHA! */
				display:inline-block;
				&.right-cell{
					width: 61%;
					padding-left:1%;
				}
			}
		}
	}
}
span#artid{
	font-weight: 300;
}

// this should probably be removed
del{
	pointer-events: none;
	background: #000;
	opacity:.8;
	border-radius: 3% 1% .5% 1%;
  user-select: none;
	transform:rotate(25deg);
	&:hover{
		cursor: not-allowed;
	}
}

p strong{
		font-weight: 400;
		padding-right: $medium-clamp;
		display: block;
		margin: $medium-clamp 0 0 0;
}
.insignia{
	fill:none;
	stroke:#000000;
	stroke-width:10;
	stroke-miterlimit:10;
}

@import 'darkmode';