@import 'vars-and-mixins';
@import 'reset';            // css reset, overriding browser rendering engines
@import 'menu';             // menu
@import 'elements';         // forms, anchors, headers etc
@import 'chart';         // forms, anchors, headers etc



// Page wrapper

.page{
  padding: clamp(48px, 10.8vw, 78px) 0 $sectionpadding 0;
}


//  Sections

.section {
  width: $sitewidth;
  max-width: $maxsitewidth;
  padding: $sectionpadding 0;
  margin: auto;
  margin:0 auto;
}
.frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-start;
  div {
    width:100%;
  }
  canvas{
    height: 50vw;
    max-height: 418px;

  }
  .image {
    height: 32vw;
    max-height: 268px;
    display: inline-block;
    flex-grow: 1;
    flex-basis: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color:$tuscany-20;
    border-radius:2px;
    &:first-child {
      height: 50vw;
      max-height: 418px;
    }
    &:last-child{
      margin-left: $medium-clamp;
    }
  }
  &:after {
    display: block;
    margin: 0px;
    flex: 999 999 auto;
  }
}
.block {
  margin: 40px 0;
  h3{
    font-size: 110%;
    font-weight: 400;
  }
  h4{
    text-decoration: underline;
  }
  h3, h4{
    margin:$medium-clamp 0 $medium-clamp-half 0;
  }
  p{
    margin: $medium-clamp-half 0;
  }
  ol{
    list-style: decimal;
    margin-left: clamp(33.6px, 8.64vw, 62.4px);
  }
  ul{
    margin-left: clamp(33.6px, 8.64vw, 62.4px);
  }
  ul > li {
    margin-bottom:$medium-clamp-half;
  }
  ul > li:before {
    position: relative;
    margin-left: -7%;
    margin-right: 3.3%;
    content: "\2192";
  }
}
nav{
  ol{
    li{
      @include font-body;
      font-size: 75%;
      line-height: 150%;
      width:100%;
      .category,
      .subject,
      .date{
        display:inline-block;
      }
      .category{
        width:20%;
        a:after{
          content: "";
        }
      }
      .subject{
        width:67%;
      }
      .date{
        width:10%;
        text-align:right;
        float:right;
      }
    }
  }
}


// The grid

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: auto;
  align-content: flex-start;
  margin: auto;
  h1{
    width:100%;
    display: block;
  }
	a{
		text-decoration: none;
		&:hover{
			h2{
				text-decoration: underline;
			}
			button{
				border-radius:0%;
			}
		}
	}
  .item {
    width: calc($sitewidth / $column-divider);
    max-width: calc($maxsitewidth / $column-divider);
    flex: 0 0 auto;
    margin: 0 0 clamp(56px, 14.4vw, 104px) 0;
    .image {
      margin-bottom: $medium-clamp;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      width: calc($sitewidth / $column-divider);
      max-width: calc($maxsitewidth / $column-divider);
      height: calc($sitewidth / $column-divider);
      max-height: calc($maxsitewidth / $column-divider);
    }
    .body {
      h2 {
        @include font-body;
        margin-bottom: 0;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
      }
      p {
        font-size: 75%;
        line-height: 150%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: $medium-clamp;
      }

      .byline:before{
        position: relative;
        display: inline;
        content: 'By ';
      }
    }
    button{
      font-size:75%;
    }
  }
}

p strong{
		font-weight: 400;
		padding-right: $medium-clamp;
		display: block;
		margin: $medium-clamp 0 0 0;
}
.insignia{
	fill:none;
	stroke:#000000;
	stroke-width:10;
	stroke-miterlimit:10;
}

@import 'darkmode';