
.bomb{
  border:$border-width solid $dark;
  display:inline-block;
  padding:0px clamp($unit-min*2, $unit*2, $unit-max*2);
  margin-top:clamp($unit-min*2, $unit*2, $unit-max*2);
  margin-right:clamp($unit-min, $unit, $unit-max);
  &:hover{
    border-radius:100%;
    background: linear-gradient(318deg, $light, $green-20, $light,);
    background-size: 1200% 1200%;
    -webkit-animation: gradient 4.20s ease infinite;
    -moz-animation: gradient 4.20s ease infinite;
    animation: gradient 4.20s ease infinite;
  }
}


@-webkit-keyframes gradient {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}
@-moz-keyframes gradient {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}
@keyframes gradient {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}