.infobox{
    border:$border-width solid $blue;
    border-radius:$border-radius;
    padding:clamp(calc($unit-min/2), calc($unit/2), calc($unit-max/2))
            clamp($unit-min, $unit, $unit-max);
    background:$blue-20;
    @include font-body;
    font-size:80%;
    margin: clamp($unit-min, $unit, $unit-max) 0 ;
    span{
        margin-right: clamp(calc($unit-min/2), calc($unit/2), calc($unit-max/2));
        font-size:90%;
    }
}
.infobox#warn{
    border:$border-width solid $yellow;
    background:$yellow-20;
}