
/* happy */
span.happy,
span.😊 ,
span.🙂 { 
  background-image:url('../omoji/happy.svg');
}
/* Super happy */
span.😃,
span.😄,
span.😁,
span.😆,
span.😀 { 
  background-image:url('../omoji/super-happy.svg');
}
/* Sad */
span.☹️,
span.🙁,
span.😟,
span.😒,
span.😞,
span.😔 { background-image:url('../omoji/sad.svg');}

/* ambivalent */
span.🙃 {
  background-image:url('../omoji/ambivalent.svg');
}

/* Suprised */
span.😯,
span.😮,
span.😲 {
  background-image:url('../omoji/suprised.svg');
}

/* Scared or very sad*/
span.😦 {
  background-image:url('../omoji/scared.svg');
}
/* wink */
span.😉 {
  background-image:url('../omoji/wink.svg');
}
/* laughing */
/* tounge-out */
span.😜,
span.😛,
span.😝,
span.🤪 {
  background-image:url('../omoji/tounge-out.svg');
}
/* other */
span.☀️{ 
  background-image:url('../omoji/sun.svg');
}
/* arrows */

span.↑{
  background-image:url('../omoji/arrow-up.svg');
}
span.↗{
  background-image:url('../omoji/arrow-up-right.svg');
}
span.→{
  background-image:url('../omoji/arrow-right.svg');
}
span.↘{
  background-image:url('../omoji/arrow-down-right.svg');
}
span.↓{
  background-image:url('../omoji/arrow-down.svg');
}
span.↙{
  background-image:url('../omoji/arrow-down-left.svg');
}
span.←{
  background-image:url('../omoji/arrow-left.svg');
}
span.↖{
  background-image:url('../omoji/arrow-up-left.svg');
}
span.↻{
  font-size: 138%;
  background-image:url('../omoji/arrow-clockwise.svg');
}
span.↺{
  font-size: 138%;
  background-image:url('../omoji/arrow-anti-clockwise.svg');
}

// Enclosed Alphanumerics - compart.com/en/unicode/block/U+2460
span.ⓘ{
  font-size: 138%;
  background-image:url('../omoji/enclosed-text-i.svg');
}
