nav.component.pills.filters{
  height:clamp($unit-min*2.5, $unit*2.5, $unit-max*2.5);
  overflow-x:scroll;
  overflow-y:hidden;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  .overflow-wrap{
    position: relative;
    width:clamp($unit-min*70, $unit*70, $unit-max*70);
  }
  .live-bullet{
    color:$red;
  }
  ul{
    position: absolute;
    margin-left:0;
    width:auto;
    li{
      display:inline-block;
      &:before{
        display: none;
      }
    }
  }
  .pill{
    position:relative;
  }
}