.bottom-navbar{
  padding-bottom:$sectionpadding;
  width: $sitewidth;
  max-width: $maxsitewidth;
  margin:0 auto;
  color:$light;
  padding-top:$sectionpadding;
  a{
    color:$light;

  }
}
.bottom-navbar-wrapper{
  background:$dark;

}