.bottom-navbar{
  padding-bottom:$sectionpadding;
  width: $sitewidth;
  max-width: $maxsitewidth;
  margin:0 auto;
  color:$light;
  padding-top:$sectionpadding;
  a{
    color:$light;

  }
  .insignia{
    background-image:url('/insignia-light.svg');
    background-size:contain;
    background-repeat:no-repeat;
    margin-top:clamp($unit-min*5, $unit*5, $unit-max*5);
    background-position: center center;
    width:100%;
    @include font-display;
    height:clamp($unit-min*20, $unit*20, $unit-max*20);
    line-height:clamp($unit-min*20, $unit*20, $unit-max*20);
    text-align:center;
  }
}
.bottom-navbar-wrapper{
  background:$dark;

}
