.card{
  border:$border;
  border-radius:3px;
  padding:clamp($unit-min, $unit, $unit-max) clamp($unit-min*2, $unit*2, $unit-max*2);
  margin:clamp($unit-min, $unit, $unit-max) 0;
}
.card:hover{
  background-color:#fff;
  cursor: pointer;
}
.card .logo{
  width:clamp($unit-min*4, $unit*4, $unit-max*4);
  height:clamp($unit-min*4, $unit*4, $unit-max*4);
  background: transparent;
  background-size: contain;
  display:inline-block;
  background-repeat: no-repeat;
  background-position: center left;
  box-sizing: border-box;
  vertical-align: top
}

.card .logo.visa{ 
  background-image: url('/images/logos/visa.svg');
}

.card .details{
  width:clamp($unit-min*36, $unit*36, $unit-max*36);
  height:clamp($unit-min*4, $unit*4, $unit-max*4);
  line-height:clamp($unit-min*4, $unit*4, $unit-max*4);
  padding-left:clamp($unit-min*2, $unit*2, $unit-max*2);
  display:inline-block;
  vertical-align: center;
}
.card .default{
  width:clamp($unit-min*8, $unit*8, $unit-max*8);
  height:clamp($unit-min*4, $unit*4, $unit-max*4);
  line-height:clamp($unit-min*4, $unit*4, $unit-max*4);
  display:inline-block;
  text-align:right;
}
.card:hover .not.default{
  text-decoration:underline;
}
.expiry_year-group select, 
.expiry_month-group select, 
.cvc-group input{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left:transparent;
}

.card_number-group, 
.expiry_year-group, 
.expiry_month-group, 
.cvc-group{
  display:inline-block;
}
.card_number-group input, 
.expiry_year-group select, 
.expiry_month-group select{

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.add-card .card .card_number-group{
  width:clamp($unit-min*25, $unit*25, $unit-max*25);
}
.add-card .card .expiry_year-group{
  width:clamp($unit-min*8, $unit*8, $unit-max*8);
}
.add-card .card .expiry_month-group{
  width:clamp($unit-min*8, $unit*8, $unit-max*8);
}
.add-card .card .cvc-group{
  width:clamp($unit-min*8, $unit*8, $unit-max*8);
}