
.frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-start;
  height: 50vw;
  max-height: 418px;
  div {
    width:100%;
  }
  .image {
    height: 32vw;
    max-height: 268px;
    display: inline-block;
    flex-grow: 1;
    flex-basis: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color:$blue-20;
    border-radius:$border-radius;
    &.contain{
      background-size: contain;
      background-color:transparent;
    }
    &:first-child {
      height: 50vw;
      max-height: 418px;
    }
    &:last-child{
      margin-left: $medium-clamp;
    }
  }
  &:after {
    display: block;
    margin: 0px;
    flex: 999 999 auto;
  }
}

.chart{
  box-sizing: border-box;
}
.frame:has(.chart){
  height: 45vw;
  max-height: 376px;
  margin:clamp($unit-min*2, $unit*2, $unit-max*2) 0 0 0;
}
.chart,
canvas,
.chartjs{
  width:100%;
}