.impacts{
  margin-top:$big-clamp;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2% 2%;
  grid-auto-flow: row;
}
.impacts .impact{
  padding:clamp($unit-min, $unit, $unit-max) 0;
  border-top:$border;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr;
  gap: 3% 2%;
  grid-auto-flow: row;
  font-size:120%;
}

.impacts .impact .image{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center left;
  background-size:contain;
}
.impacts .impact .image#car{
  background-image:url('/illustrations/car.svg');
}
.impacts .impact .image#house{
  background-image:url('/illustrations/house.svg');
}
.impacts .impact .image#plane{
  background-image:url('/illustrations/plane.svg');
}