.bottom-navbar{
  width: $sitewidth;
  max-width: $maxsitewidth;
  padding:clamp($unit-min*2, $unit*2, $unit-max*2) 0;
  margin:0 auto;
  color:$light;
  a{
    color:$light;
    text-decoration: none;
    &:hover{
      text-decoration: underline;

    }
  }
  h4{
    font-weight:500;
    margin-top:clamp($unit-min*2, $unit*2, $unit-max*2);
  }
  .insignia{
    background-image:url('/media/insignia/insignia-light.svg');
    background-size:contain;
    background-repeat:no-repeat;
    margin-top:clamp($unit-min*5, $unit*5, $unit-max*5);
    background-position: center center;
    width:100%;
    @include font-display;
    height:clamp($unit-min*8, $unit*8, $unit-max*8);
    line-height:clamp($unit-min*8, $unit*8, $unit-max*8);
    text-align:center;
  }
}
.bottom-navbar-wrapper{
  background:$dark;

}
