//  Menu

header .menu ul{
  position: fixed;
  z-index: 3;
  margin: 0;
  max-height:$col;
  overflow:hidden;
  padding: $big-clamp-half 0 0 $big-clamp-half;

  // logo
  li.logomark,
  li.logomark span{
    opacity:1;
    pointer-events : all;
  }
  // list, hidden when not in toggled

  li {
    opacity:0;
    pointer-events : none;
    line-height: 1;
    @include font-body;
    font-size:clamp($unit-min*2, $unit*2, $unit-max*2);
    padding: 0;
    margin-bottom:0;
    a{
      text-decoration: none;
      &:hover{
        text-decoration:underline;
      }
    }
    span{
      font-weight:500;
      opacity:0;
    }
    &:before{
      display:none;
    }
  }
}

// menu / close menu

header .menu-toggle {

  padding: $big-clamp-half;
  right: $big-clamp;
  position: fixed;
  font-size: $medium-clamp;
  line-height: $medium-clamp;
  top: $border-width;
  width: auto;
  border: 0;
  &:hover,
  &:hover:before{
    text-decoration: underline;
  }
}
// 😊 
header .my-account-button{
  width:$medium-clamp;
  height:$medium-clamp;
  display:block; 
  border-radius:50%;
  position:fixed;
  top:$border-width;
  right:$border-width;
  background-image: url("/omoji/Happy.svg");
  background-size:contain;
  margin: $big-clamp-half;
  &:hover{
    background-image: url("/omoji/Super-happy.svg");
  }
}

// round dot on notification when you have an unread notification has arrived
.notification-dot{
  min-width:  calc($unit-min / 2);
  width:      calc($unit / 2);
  max-width:  calc($unit-max / 2);
  min-height: calc($unit-min / 2);
  height:     calc($unit / 2);
  max-height: calc($unit-max / 2);
  top:$border-width;
  right:$border-width;
  margin: clamp(12px, 3.24vw, 25px);
  position: fixed;
  display:block;
  border-radius:50%;
  background-color:rgba(red,0.2);
}

// After the menu has been toggled 
.show-menu{
  .page{
    opacity:0;
    pointer-events : none;
  }
  .menu ul{
    overflow: visible;
  }
  .menu ul li{
    opacity:1;
    pointer-events : all;
  }
} 
.show-menu button.menu-toggle{
  &:before{
    content:"close ";
    display:inline-block;
    opacity:1;
  }
}
