
  /* Happy */
 span.😊 { background-image:url('../omoji/Happy.svg');}
 span.🙂 { background-image:url('../omoji/Happy.svg');}
  /* Super Happy */
 span.😃 { background-image:url('../omoji/Super-Happy.svg');}
 span.😄 { background-image:url('../omoji/Super-Happy.svg');}
 span.😁 { background-image:url('../omoji/Super-Happy.svg');}
 span.😆 { background-image:url('../omoji/Super-Happy.svg');}
 span.😀 { background-image:url('../omoji/Super-Happy.svg');}
  /* Sad */
 span.☹️  { background-image:url('../omoji/Sad.svg');}
 span.🙁 { background-image:url('../omoji/Sad.svg');}
 span.😟 { background-image:url('../omoji/Sad.svg');}
 span.😒 { background-image:url('../omoji/Sad.svg');}
 span.😞 { background-image:url('../omoji/Sad.svg');}
 span.😔 { background-image:url('../omoji/Sad.svg');}

  /* Ambivalent */
 span.🙃 { background-image:url('../omoji/Ambivalent.svg');}

  /* Suprised */
 span.😯 { background-image:url('../omoji/Suprised.svg');}
 span.😮 { background-image:url('../omoji/Suprised.svg');}
 span.😲 { background-image:url('../omoji/Suprised.svg');}
 
  /* Scared or very sad*/
 span.😦 { background-image:url('../omoji/Scared.svg');}
  /* wink */
 
  /* laughing */