@import 'base/variables';
@import 'base/fonts';
@import 'base/grid';
@import 'base/layouts';
@import 'base/helpers';
@import 'base/mixins';
@import 'base/reset';

@import 'layouts/focused';
@import 'layouts/questions';

@import 'components/currencyamount';
@import 'components/image';
@import 'components/navbar';
@import 'components/navbar-bottom';
@import 'components/navbar-tabs';
@import 'components/omoji';
@import 'components/cta';
@import 'components/info-box';
@import 'components/calendar';
@import 'components/username';
@import 'components/card';
@import 'components/impact';
@import 'components/notification';
@import 'components/pills';

@import 'elements/input-text';
@import 'elements/input-password';
@import 'elements/input-date';
@import 'elements/input-checkbox';
@import 'elements/input-submit';
@import 'elements/input-number';
@import 'elements/input-email';
@import 'elements/select';
@import 'elements/bomb';
@import 'elements/select-date';
@import 'elements/link-group';
@import 'elements/toggleSwitch';
@import 'elements/button-square';
@import 'elements/pill';

@import 'atoms/button';
@import 'atoms/input';
@import 'atoms/label';
@import 'atoms/lists';
@import 'atoms/select';
@import 'atoms/table';
@import 'atoms/headings';



.sorry-text{
  margin-top:clamp(20px, 20vw, 180px);
  text-align: center;
}
.sorry-text button{
  width:50%;
  margin:auto;
}