// Size and scale
$sitewidth: 86vw;
$maxsitewidth: 720px;
$columns: 45;
$unit: calc($sitewidth/$columns);
$unit-max: calc($maxsitewidth/$columns);

@function sizer($multiplier, $minValue: 1px){
  @return clamp($minValue, $unit*$multiplier, $unit-max*$multiplier);
}

@mixin site-width {
  width: $sitewidth;
  max-width: $maxsitewidth;
}

// Colors
$light: #FEFDFA;
$dark: #161719;
$primary: #586BA4;
$green: #8BE8CB;
$blue: #5FB0FC;
$red: #ED6A5A;


@function dark($mix){
  @return mix($dark, $light, $mix);
}
@function primary($mix){
  @if $mix < 100% {
    @return mix($primary, $light, $mix);
  } @else {
    $mix: 100% - ($mix - 100%);
    @return mix($primary, $dark, $mix);
  }
}
@function green($mix){
  @if $mix < 100% {
    @return mix($green, $light, $mix);
  } @else {
    $mix: 100% - ($mix - 100%);
    @return mix($green, $dark, $mix);
  }
}
@function blue($mix){
  @if $mix < 100% {
    @return mix($blue, $light, $mix);
  } @else {
    $mix: 100% - ($mix - 100%);
    @return mix($blue, $dark, $mix);
  }
}
@function red($mix){
  @if $mix < 100% {
    @return mix($red, $light, $mix);
  } @else {
    $mix: 100% - ($mix - 100%);
    @return mix($red, $dark, $mix);
  }
}


// Borders
$border-width: .2px;
$border-color: dark(40%);
$border: $border-width solid $border-color;
$border-radius: 2px;

@mixin border{
  border-radius:$border-radius;
  border: $border;
  border-color: $border-color;
}

// Bezier curves
$easing-in-out: cubic-bezier(0.42, 0, 0.58, 1);
$easing-in: cubic-bezier(0.42, 0, 1, 1);
$easing-out: cubic-bezier(0, 0, 0.58, 1);
$fast-curve: cubic-bezier(0.55, 0, 0.1, 1);

// Fonts
$serif : "Kalt Display", Serif;
$sans-serif:  "Kalt Body", Sans-Serif;
$monospace: "Source Code Pro", Monospace;


// Font sizes 
$display-sizer: 2.7;
$display-sub-sizer: 2.025;
$body-sizer: 1.5;
$body-sub-sizer: 1.125;

$display:      sizer($display-sizer);
$display-sub:  sizer($display-sub-sizer);
$body:         sizer($body-sizer);
$body-sub:     sizer($body-sub-sizer);

// Font mixins

@mixin display {
  font-family: $sans-serif;
  font-size: $display;
  line-height: 150%;
  font-display: optional;
}
@mixin display-sub {
  @include display;
  font-family: $sans-serif;
  font-size: $display-sub;
}

@mixin body {
  font-family: $sans-serif;
  font-size: $body;
  font-weight: normal;
  line-height: 150%;
  font-display: optional;
}
@mixin body-sub {
  @include body;
  font-size: $body-sub;
}

@mixin monospace {
  font-family: $monospace;
  font-size: sizer(2);
  font-weight: normal;
  line-height: 100%;
  font-display: optional;
}

// Utility mixins
@mixin hoverable {
  background-color: primary(1%);
  transition: border-color 150ms $easing-in;
}

@mixin hovering {
  background-color: primary(2%);
  border-color: dark(60%);
  transition: border-color 150ms $easing-in;
  cursor: pointer;
}

@mixin selected {
  background-color: primary(5%);
  border-color: dark(60%);
  transition: border-color 150ms $easing-in;
}

@mixin drop-shadow{
  box-shadow: 0 0 sizer(2) 0 primary(5%);
}

@keyframes backgroundColorAnimation{
  0% {
    background-color: blue(7%);
  }
  25%{
    background-color: $light;
  }
  50% {
    background-color: green(7%);
  }
  75% {
    background-color: $light;
  }
  100% {
    background-color: blue(7%); 
  }
}