$sitewidth: 86vw;
$maxsitewidth: 720px;

$unit-min: 8px;
$unit: calc($sitewidth/55);
$unit-max: calc($maxsitewidth/55);

$light: #FEFDFA;

$dark: #161719;
$dark-95: mix($dark, $light, 95%);
$dark-90: mix($dark, $light, 90%);
$dark-85: mix($dark, $light, 85%);
$dark-80: mix($dark, $light, 80%);
$dark-60: mix($dark, $light, 60%);
$dark-40: mix($dark, $light, 40%);
$dark-20: mix($dark, $light, 20%);
$dark-10: mix($dark, $light, 10%);
$dark-5: mix($dark, $light, 5%);

$blue: #5FB0FC;
$blue-80: mix($blue, $light, 80%);
$blue-60: mix($blue, $light, 60%);
$blue-40: mix($blue, $light, 40%);
$blue-20: mix($blue, $light, 20%);
$blue-10: mix($blue, $light, 10%);
$blue-5: mix($blue, $light, 5%);
$primary: #586BA4;

$marine: #586BA4;
$marine-80: mix($marine, $light, 80%);
$marine-60: mix($marine, $light, 60%);
$marine-40: mix($marine, $light, 40%);
$marine-20: mix($marine, $light, 20%);
$marine-10: mix($marine, $light, 10%);
$marine-5: mix($marine, $light, 5%);

$yellow: #F4D35E;
$yellow-80: mix($yellow, $light, 80%);
$yellow-60: mix($yellow, $light, 60%);
$yellow-40: mix($yellow, $light, 40%);
$yellow-20: mix($yellow, $light, 20%);
$yellow-10: mix($yellow, $light, 10%);
$yellow-5: mix($yellow, $light, 5%);

$green: #99EE99;
$green-80: mix($green, $light, 80%);
$green-60: mix($green, $light, 60%);
$green-40: mix($green, $light, 40%);
$green-20: mix($green, $light, 20%);
$green-10: mix($green, $light, 10%);
$green-5: mix($green, $light, 5%);

$turqouse: #8BE8CB;
$turqouse-80: mix($turqouse, $light, 80%);
$turqouse-60: mix($turqouse, $light, 60%);
$turqouse-40: mix($turqouse, $light, 40%);
$turqouse-20: mix($turqouse, $light, 20%);
$turqouse-10: mix($turqouse, $light, 10%);
$turqouse-5: mix($turqouse, $light, 5%);

$red: #ED6A5A;
$red-80: mix($red, $light, 80%);
$red-60: mix($red, $light, 60%);
$red-40: mix($red, $light, 40%);
$red-20: mix($red, $light, 20%);
$red-10: mix($red, $light, 10%);

$purple: #624CAB;
$purple-80: mix($purple, $light, 80%);
$purple-60: mix($purple, $light, 60%);
$purple-40: mix($purple, $light, 40%);
$purple-20: mix($purple, $light, 20%);
$purple-10: mix($purple, $light, 10%);

$pink: #FFC7F2;
$pink-80: mix($pink, $light, 80%);
$pink-60: mix($pink, $light, 60%);
$pink-40: mix($pink, $light, 40%);
$pink-20: mix($pink, $light, 20%);

// Bezier curves

$easing-in-out: cubic-bezier(0.42, 0, 0.58, 1);
$easing-in: cubic-bezier(0.42, 0, 1, 1);
$easing-out: cubic-bezier(0, 0, 0.58, 1);
$fast-curve: cubic-bezier(0.55, 0, 0.1, 1);


// Fonts 

$serif : 
  "Kalt Display",
  "STIXGeneral Regular",
  "Times New Roman",
  Serif;

$sans-serif: 
  "Kalt Body",
  "Neue Haas Grotesk Display Pro",
  "Helvetica",
  "Raleway",
  "Arial",
  "Roboto",
  Sans-Serif;

$monospace:
  "Source Code Pro",
  "Courier New",
  Monospace;

// borders
$border-width: .2px;
$border: $border-width solid $dark-80;
$border-radius: 2px;

// functions

@function sizer($multiplier){
  @return clamp(1px, $unit*$multiplier, $unit-max*$multiplier);
}

@function primaryColor($mix){
  @return mix($primary, $light, $mix);
}

// mixins

@mixin font-display {
  font-family: $serif;
  font-size: $big-clamp;
  line-height: 150%;
  margin-bottom: sizer(2);
  font-display: optional;
}

@mixin font-body {
  font-family: $sans-serif;
  font-size: sizer(1.5);
  font-weight:normal;
  line-height: 150%;
  font-display: optional;
}

@mixin font-monospace {
  font-family: $monospace;
  font-size: sizer(2);
  font-weight: normal;
  line-height: 100%;
  font-display: optional;
}

@mixin font-logotype {
  font-family: $sans-serif;
  font-size: sizer(2);
  font-weight: bold;
  line-height: 100%;
}

// Site Width

@mixin site-width {
  width: $sitewidth;
  max-width: $maxsitewidth;
}


@mixin border{
  border-radius:$border-radius;
  border: $border;
  border-color: $dark-40;
}

@mixin hoverable {
  background-color:primaryColor(1%);
  transition: border-color 150ms $easing-in;
}
@mixin hovering {
  background-color:primaryColor(2%);
  border-color: $dark-60;
  transition: border-color 150ms $easing-in;
  cursor: pointer;
}
@mixin selected {
  background-color:primaryColor(5%);
  border-color: $dark-60;
  transition: border-color 150ms $easing-in;
}



