// Size and scale
$sitewidth: 86vw;
$maxsitewidth: 720px;
$columns: 45;
$unit: calc($sitewidth/$columns);
$unit-max: calc($maxsitewidth/$columns);

@function sizer($multiplier){
  @return clamp(1px, $unit*$multiplier, $unit-max*$multiplier);
}

@mixin site-width {
  width: $sitewidth;
  max-width: $maxsitewidth;
}

// Colors
$light: #FEFDFA;
$dark: #161719;
$primary: #586BA4;
$green: #849184;
$blue: #5FB0FC;
$red: #ED6A5A;


@function dark($mix){
  @return mix($dark, $light, $mix);
}
@function primary($mix){
  @return mix($primary, $light, $mix);
}
@function green($mix){
  @return mix($green, $light, $mix);
}
@function blue($mix){
  @return mix($blue, $light, $mix);
}
@function red($mix){
  @return mix($red, $light, $mix);
}


// Borders
$border-width: .2px;
$border-color: dark(40%);
$border: $border-width solid $border-color;
$border-radius: 2px;

@mixin border{
  border-radius:$border-radius;
  border: $border;
  border-color: $border-color;
}

// Bezier curves
$easing-in-out: cubic-bezier(0.42, 0, 0.58, 1);
$easing-in: cubic-bezier(0.42, 0, 1, 1);
$easing-out: cubic-bezier(0, 0, 0.58, 1);
$fast-curve: cubic-bezier(0.55, 0, 0.1, 1);

// Fonts
$serif : 
  "Kalt Display",
  "STIXGeneral Regular",
  "Times New Roman",
  Serif;

$sans-serif: 
  "Kalt Body",
  "Neue Haas Grotesk Display Pro",
  "Helvetica",
  "Raleway",
  "Arial",
  "Roboto",
  Sans-Serif;

$monospace:
  "Source Code Pro",
  Monospace;

@mixin font-display {
  font-family: $serif;
  font-size: $big-clamp;
  line-height: 150%;
  margin-bottom: sizer(2);
  font-display: optional;
}

@mixin font-body {
  font-family: $sans-serif;
  font-size: sizer(1.5);
  font-weight: normal;
  line-height: 150%;
  font-display: optional;
}

@mixin font-monospace {
  font-family: $monospace;
  font-size: sizer(2);
  font-weight: normal;
  line-height: 100%;
  font-display: optional;
}

@mixin font-logotype {
  font-family: $sans-serif;
  font-size: sizer(2);
  font-weight: bold;
  line-height: 100%;
}

// Utility mixins
@mixin hoverable {
  background-color: primary(1%);
  transition: border-color 150ms $easing-in;
}

@mixin hovering {
  background-color: primary(2%);
  border-color: dark(60%);
  transition: border-color 150ms $easing-in;
  cursor: pointer;
}

@mixin selected {
  background-color: primary(5%);
  border-color: dark(60%);
  transition: border-color 150ms $easing-in;
}

@mixin drop-shadow{
  box-shadow: 0 0 sizer(2) 0 primary(5%);
}