/* Error: There is no module with the namespace "math".
 *     ,
 * 101 | $border-radius: math.div($unit-min, 2);
 *     |                 ^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   design-system/_variables.scss 101:17  @import
 *   design-system/dds.scss 4:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "math".\a     \2577 \a 101 \2502  $border-radius: math.div($unit-min, 2);\a     \2502                  ^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   design-system/_variables.scss 101:17  @import\a   design-system/dds.scss 4:9            root stylesheet';
}
