@charset "UTF-8";
/* The following clamps are half of their counterpart.
Example: $big-clamp-half is half of $big-clamp. */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background: #FCF9F2;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(14px, 3.6vw, 26px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  touch-action: manipulation;
  overflow-x: hidden;
}

body.yellow-gradient {
  background: rgb(255, 255, 0);
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, #fcf9f2 35%, #fcf9f2 100%);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #000;
  text-decoration: underline;
}

*:before, *:after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
*::selection {
  background-color: #d2eafe;
}

h1, h2 {
  font-family: "Kalt Display", "STIXGeneral Regular", "Times New Roman", Serif;
  font-size: clamp(24.5px, 6.3vw, 45.5px);
  line-height: 150%;
  margin-bottom: clamp(12px, 3.24vw, 25px);
  font-display: optional;
}
h1 a, h2 a {
  text-decoration: none;
}
h1 a:hover, h2 a:hover {
  text-decoration: underline;
}

h3 {
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(14px, 3.6vw, 26px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
}

a:focus {
  border: none;
  box-shadow: none;
}

*:focus {
  background: #d2eafe;
}

button {
  border-radius: 50%;
  border: 0.1px solid black;
  padding: clamp(12px, 3.24vw, 25px);
  background: transparent;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(14px, 3.6vw, 26px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
}
button:focus, button:hover {
  cursor: pointer;
  border-radius: 0%;
}

.my-profile-button {
  width: clamp(14px, 3.6vw, 26px);
  height: clamp(14px, 3.6vw, 26px);
  display: block;
  border-radius: 50%;
  position: fixed;
  top: 0.1px;
  right: 0.1px;
  background-image: url("/images/happy.svg");
  background-size: contain;
  margin: clamp(12px, 3.24vw, 25px);
}
.my-profile-button:hover {
  background-image: url("/images/suprised.svg");
}

.notification {
  min-width: 3.5px;
  width: 0.9vw;
  max-width: 6.5px;
  min-height: 3.5px;
  height: 0.9vw;
  max-height: 6.5px;
  top: 0.1px;
  right: 0.1px;
  margin: clamp(12px, 3.24vw, 25px);
  position: fixed;
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.2);
}

header button.logo {
  left: 0.1px;
}
header button.logo span {
  font-weight: 500;
}
header button#menu {
  right: clamp(24.5px, 6.3vw, 45.5px);
}
header button#menu:active,
header button#menu:focus {
  background-color: transparent;
}
header button {
  font-size: clamp(14px, 3.6vw, 26px);
  line-height: clamp(14px, 3.6vw, 26px);
  position: fixed;
  top: 0.1px;
  border: 0;
}
header button:hover {
  text-decoration: underline;
}
header button:hover:before {
  text-decoration: underline;
}
header .menu button {
  z-index: 3;
}
header .menu ul {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 3;
  margin: 0;
  padding: 0 0 0 clamp(12px, 3.24vw, 25px);
  top: clamp(28px, 6.4vw, 60px);
  left: clamp(48px, 12vw, 86px);
}
header .menu ul li {
  line-height: 1;
}
header .menu ul li * {
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(14px, 3.6vw, 26px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  padding: 0;
}
header .menu ul li *:hover {
  cursor: pointer;
}

.show-menu .page {
  opacity: 0;
  pointer-events: none;
}
.show-menu .menu button:before {
  content: "close  ";
  display: inline-block;
}
.show-menu .menu ul {
  display: block;
  opacity: 1;
  pointer-events: all;
}

table {
  width: 100%;
}

tr th,
tr td {
  text-align: left;
  border-bottom: 0.1px solid black;
  font-size: 80%;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: clamp(14px, 3.6vw, 26px);
  margin: clamp(14px, 3.6vw, 26px) 0;
  font-family: "Kalt Monospace", "Courier New", Monospace;
  font-size: clamp(14px, 3.6vw, 26px);
  font-weight: normal;
  line-height: 100%;
  font-display: optional;
  font-size: 80%;
  background-color: rgba(30, 150, 252, 0.1);
  line-height: 1.2;
  height: clamp(14px, 3.6vw, 26px);
  color: transparent;
  overflow: hidden;
}
pre code:hover {
  cursor: pointer;
}
pre code.show-code {
  color: black;
  height: auto;
  padding: clamp(14px, 3.6vw, 26px);
}
pre code.show-code:before {
  display: block;
  content: "";
  color: transparent;
}
pre code.show-code:hover {
  cursor: auto;
}
pre code:before {
  position: absolute;
  display: block;
  content: "> show code";
  color: black;
}

.section form input,
.section form button {
  margin-top: clamp(7px, 1.8vw, 13px);
}

.section form input[type=number],
.section form input[type=text] {
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  background-color: #FCF9F2;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(14px, 3.6vw, 26px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  border-radius: 0%;
  border: 0.1px solid black;
  height: clamp(14px, 3.6vw, 26px);
  margin: clamp(14px, 3.6vw, 26px) 0;
  box-sizing: border-box;
  padding: clamp(14px, 3.6vw, 26px) clamp(7px, 1.8vw, 13px);
}
.section form input[type=number]:focus,
.section form input[type=text]:focus {
  border-style: dashed;
}

.section form input[type=radio] {
  width: clamp(12px, 3.24vw, 25px);
  height: clamp(12px, 3.24vw, 25px);
}

.section button {
  width: 100%;
  padding: 2% 0;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(14px, 3.6vw, 26px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
}

.chart {
  background: #FFF;
  padding: clamp(24.5px, 6.3vw, 45.5px) 0;
  border-right: #fff solid clamp(14px, 3.6vw, 26px);
  border-left: #fff solid clamp(14px, 3.6vw, 26px);
  box-sizing: border-box;
  border-radius: 4px;
}

.chart,
canvas,
.chartjs {
  width: 100%;
}

a:focus button {
  background: #d0e9fe;
}

a:focus button {
  border-radius: 0%;
  cursor: pointer;
}

.page {
  padding: clamp(48px, 10.8vw, 78px) 0 clamp(75px, 15vh, 175px) 0;
}

.section {
  width: 86vw;
  max-width: 720px;
  padding: clamp(75px, 15vh, 175px) 0 0 0;
  margin: auto;
}
.section .frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  align-content: start;
}
.section .frame canvas {
  height: 32vw;
  max-height: 268px;
}
.section .frame .image {
  height: 32vw;
  max-height: 268px;
  display: inline-block;
  flex-grow: 1;
  flex-basis: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(30, 150, 252, 0.2);
  border-radius: 2px;
}
.section .frame .image:first-child {
  height: 50vw;
  max-height: 418px;
}
.section .frame .image:last-child {
  margin-left: clamp(14px, 3.6vw, 26px);
}
.section .frame:after {
  display: block;
  margin: 0px;
  flex: 999 999 auto;
}
.section .block {
  margin: 40px 0;
}
.section .block h3 {
  font-size: 110%;
  font-weight: 400;
}
.section .block h4 {
  text-decoration: underline;
}
.section .block h3, .section .block h4 {
  margin: clamp(14px, 3.6vw, 26px) 0 clamp(7px, 1.8vw, 13px) 0;
}
.section .block p {
  margin: clamp(7px, 1.8vw, 13px) 0;
}
.section .block ol {
  list-style: decimal;
  margin-left: clamp(33.6px, 8.64vw, 62.4px);
}
.section .block ul {
  margin-left: clamp(33.6px, 8.64vw, 62.4px);
}
.section .block ul > li {
  margin-bottom: clamp(7px, 1.8vw, 13px);
}
.section .block ul > li:before {
  position: relative;
  margin-left: -7%;
  margin-right: 3.3%;
  content: "→";
}
.section nav ol li {
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(14px, 3.6vw, 26px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  font-size: 75%;
  line-height: 150%;
  width: 100%;
}
.section nav ol li .category,
.section nav ol li .subject,
.section nav ol li .date {
  display: inline-block;
}
.section nav ol li .category {
  width: 20%;
}
.section nav ol li .category a:after {
  content: "";
}
.section nav ol li .subject {
  width: 67%;
}
.section nav ol li .date {
  width: 10%;
  text-align: right;
  float: right;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
  align-content: start;
  margin: auto;
}
.grid h1 {
  width: 100%;
  display: block;
}
.grid a {
  text-decoration: none;
}
.grid a:hover h2 {
  text-decoration: underline;
}
.grid a:hover button {
  border-radius: 0%;
}
.grid .item {
  width: 35.8333333333vw;
  max-width: 300px;
  flex: 0 0 auto;
  margin: 0 0 clamp(56px, 14.4vw, 104px) 0;
}
.grid .item .image {
  margin-bottom: clamp(14px, 3.6vw, 26px);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 35.8333333333vw;
  max-width: 300px;
  height: 35.8333333333vw;
  max-height: 300px;
}
.grid .item .body h2 {
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(14px, 3.6vw, 26px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid .item .body p {
  font-size: 75%;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: clamp(14px, 3.6vw, 26px);
}
.grid .item .body .byline:before {
  position: relative;
  display: inline;
  content: "By ";
}
.grid .item button {
  font-size: 75%;
}

#artwork {
  margin-top: 0;
  padding-top: 0;
}
#artwork .image {
  background-color: white;
  width: 100vw;
  height: 95vh;
  max-height: 100vw;
  border: clamp(24.5px, 6.3vw, 45.5px) solid #fff;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#artwork #description {
  margin-top: clamp(75px, 15vh, 175px);
}
#artwork .section {
  margin: 0 auto;
  padding: 0;
}
#artwork .section h2 {
  font-family: "Kalt Display", "STIXGeneral Regular", "Times New Roman", Serif;
  font-size: clamp(24.5px, 6.3vw, 45.5px);
  line-height: 150%;
  margin-bottom: clamp(12px, 3.24vw, 25px);
  font-display: optional;
  margin: 0;
}
#artwork .section p {
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(14px, 3.6vw, 26px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  line-height: 150%;
  margin-bottom: clamp(14px, 3.6vw, 26px);
}
#artwork .section .byline {
  margin-top: clamp(7px, 1.8vw, 13px);
}
#artwork .section .byline:before {
  position: relative;
  display: inline;
  content: "By ";
}
#artwork .section button {
  width: 86vw;
  max-width: 720px;
  background: #FCF9F2;
}

#artwork #information {
  margin-top: clamp(75px, 15vh, 175px);
  padding-bottom: clamp(75px, 15vh, 175px);
}
#artwork #information li {
  font-size: 80%;
  line-height: 150%;
  overflow: hidden;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}
#artwork #information li span {
  width: 37%;
  vertical-align: top; /* <------ HAHA! */
  display: inline-block;
}
#artwork #information li span.right-cell {
  width: 61%;
  padding-left: 1%;
}

span#artid {
  font-weight: 300;
}

del {
  pointer-events: none;
  background: #000;
  opacity: 0.8;
  border-radius: 3% 1% 0.5% 1%;
  user-select: none;
  transform: rotate(25deg);
}
del:hover {
  cursor: not-allowed;
}

p strong {
  font-weight: 400;
  padding-right: clamp(14px, 3.6vw, 26px);
  display: block;
  margin: clamp(14px, 3.6vw, 26px) 0 0 0;
}

.insignia {
  fill: none;
  stroke: #000000;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

/*
@media (prefers-color-scheme: dark) {

	a:focus button,
	*::selection,
	*:focus{
		background: $blue;
	}
  body {
      background-color: $dark !important;
      color: $light;
  }
	.image{
		filter:grayscale(1);
	}
	#artwork .image{
		filter:none;
	}
  button{
		color: $light;
    border-color:$light;
	}
  .insignia {
    stroke:$light;
  }
	#artwork .section .image{
    border-color: #011628;
	}
	#artwork .section button,
	pre code{
		&:before,
		&.show-code{
			color: $light;
		}
	}
  .menu,
  a{
    color: $light;
  }
}*/
.userpage .section ul li {
  display: inline-block;
  font-size: 80%;
  margin-right: clamp(14px, 3.6vw, 26px);
}
.userpage .section ul li:before {
  display: inline-block;
  width: clamp(7px, 1.8vw, 13px);
  height: clamp(7px, 1.8vw, 13px);
  content: " ";
  border-radius: 50%;
}
.userpage .section ul li#dividends:before {
  background-color: #F991CC;
}
.userpage .section ul li#deposit:before {
  background-color: #1E96FC;
}

/*# sourceMappingURL=base.css.map */
