@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';
@import 'base/base';
@import 'base/dark-mode';



// things i dont know where to put yet..

.center-text{
  text-align: center;
}

p.links{
  a:first-child{
    margin-right:$clamp-2
  }
}


// Page wrapper
main{
  padding-top: $clamp-15;
  min-height:100vh;
  box-sizing:border-box;
}
select{
  width:100%;
  display:inline-block;
  padding:clamp($unit-min/1.5, $unit/1.5, $unit-max/1.5) 
          $clamp-1-5
          clamp($unit-min/1.5, $unit/1.5, $unit-max/1.5) 
          clamp($unit-min*1.2, $unit*1.2, $unit-max*1.2);
  border: $border;
  @include font-body;
  box-sizing:border-box;
  background-color:transparent;
  height:clamp($unit-min*3.8, $unit*3.8, $unit-max*3.8);
  appearance: none;
}
select:focus{
  background-color:white;
}
select.loading{
  background-image:url("/loading.gif");
  background-size: $clamp;
  background-position:95% center;
  background-repeat:no-repeat;
}
input{
  width:100%;
  display:inline-block;
  padding:clamp($unit-min/2, $unit/2, $unit-max/2) 
          clamp($unit-min*1.2, $unit*1.2, $unit-max*1.2);
  border: $border;
  height:clamp($unit-min*3.8, $unit*3.8, $unit-max*3.8);
  @include font-body;
  box-sizing:border-box;
  background-size: $clamp;
  background-position:right $clamp center;
  background-repeat:no-repeat;
}

input:focus{
  background-color:#fff;
}
input:active{
  background-color:#fff;
}
input.loading{
  background-image:url("/loading.gif");
}
input.success{
  background-image:url("omoji/check-no-bg.svg");
  animation-duration: 2s;
}
input.error{
  background-image:url("omoji/suprised.svg");
  animation-duration: 2s;
  background-color:$red-20;
}

.input-wrap{
  margin-top: $clamp;
}
input[type="checkbox" i]  {
  width:auto;
  height:auto;
}
input[type="checkbox" i] + label{
  font-size:$clamp-1-5;
}

a:focus button{
  background-color:white;
}

a:focus button,
a:hover button{
  cursor: pointer;
}
button {
  border-radius: 0px;
  margin-bottom:$clamp;
  width: 100%;
  padding: 2% 0;
  background:transparent;
  color:$dark;
  border: $border;
  @include font-body;
  &.square,
  &:focus,
  &:hover {
    border-radius:100%;
    cursor: pointer;
  }
}
label{
  @include font-body;
  font-size: clamp($unit-min*1.2, $unit*1.2, $unit-max*1.2);
  margin:$clamp-0-5 0;
}