@charset "UTF-8";
/*      partials                      /*   Short description                      documentation                         */
/*      globals                       /*                                                                                */
/* The following clamps are half of their counterpart.
Example: $big-clamp-half is half of $big-clamp. */
/*   variables                              ka.lt/docs/scss/variables             */
@font-face {
  font-family: "Kalt Display";
  src: url("/fonts/display/ogg-regular-kalt.eot");
  src: url("/fonts/display/ogg-regular-kalt.eot?#iefix") format("embedded-opentype"), url("/fonts/display/ogg-regular-kalt.woff2") format("woff2"), url("/fonts/display/ogg-regular-kalt.woff") format("woff"), url("/fonts/display/ogg-regular-kalt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-Mediu.eot");
  src: local("NeueHaasDisplay-Mediu"), url("/fonts/body/NeueHaasDisplay-Mediu.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-Mediu.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-Mediu.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-Mediu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-RomanItalic.eot");
  src: local("NeueHaasDisplay-RomanItalic"), url("/fonts/body/NeueHaasDisplay-RomanItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-RomanItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-RomanItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-RomanItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-Black.eot");
  src: local("NeueHaasDisplay-Black"), url("/fonts/body/NeueHaasDisplay-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-Black.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-Black.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-MediumItalic.eot");
  src: local("NeueHaasDisplay-MediumItalic"), url("/fonts/body/NeueHaasDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-MediumItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-MediumItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-BlackItalic.eot");
  src: local("NeueHaasDisplay-BlackItalic"), url("/fonts/body/NeueHaasDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-BlackItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-BlackItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-Roman.eot");
  src: local("NeueHaasDisplay-Roman"), url("/fonts/body/NeueHaasDisplay-Roman.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-Roman.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-Roman.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-Roman.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-BoldItalic.eot");
  src: local("NeueHaasDisplay-BoldItalic"), url("/fonts/body/NeueHaasDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-BoldItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-BoldItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-LightItalic.eot");
  src: local("NeueHaasDisplay-LightItalic"), url("/fonts/body/NeueHaasDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-LightItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-LightItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-Bold.eot");
  src: local("NeueHaasDisplay-Bold"), url("/fonts/body/NeueHaasDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-Bold.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-Bold.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-Light.eot");
  src: local("NeueHaasDisplay-Light"), url("/fonts/body/NeueHaasDisplay-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-Light.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-Light.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-XXThin.eot");
  src: local("NeueHaasDisplay-XXThin"), url("/fonts/body/NeueHaasDisplay-XXThin.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-XXThin.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-XXThin.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-XXThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-XThinItalic.eot");
  src: local("NeueHaasDisplay-XThinItalic"), url("/fonts/body/NeueHaasDisplay-XThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-XThinItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-XThinItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-XThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-XXThinItalic.eot");
  src: local("NeueHaasDisplay-XXThinItalic"), url("/fonts/body/NeueHaasDisplay-XXThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-XXThinItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-XXThinItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-XXThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-ThinItalic.eot");
  src: local("NeueHaasDisplay-ThinItalic"), url("/fonts/body/NeueHaasDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-ThinItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-ThinItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
/*   fonts                                  ka.lt/docs/scss/fonts                 */
.col-2,
.col-3,
.col-4 {
  display: inline-block;
}

/*

The site is divided into 12 columns, represented her eby $col and $col-max
the objects however can only be distributed in a 2, 3 or 4 column layout
with a defined gutter between them. To make them the correct width while 
taking into account the gutters, we have to do some calculations

Lets use .col-4 as an example, and only focus on the width parameter, and
say the sitewidth is set to 120:

1. First we would multiply the $col value by 3, which makes the .col-4 30px
wide. 
.col-4{ width: $col*3 }

2. To add the space (gutter) between the boxes, we have to first multiply 
the number of columns by two 4*2=8 and reduce it by 2, 8-2 = 6. This is how
many sides each of the columns have towards eachother. (without the ones at
the edge of the page. 
  ($unit*6)

3. Then we divide it by how many columns there are: 
  (($unit*6)/4)

4. The result:

.col-4{
  width:($col*3)-($unit*6/4);
}
*/
.col-2 {
  width: 41.2vw;
  max-width: 347px;
}

.col-3 {
  width: 26.2666666667vw;
  max-width: 222.6666666667px;
}

.col-4 {
  width: 18.8vw;
  max-width: 160.5px;
}

.gutter-horizontal,
.gutter-right {
  margin-right: clamp(1px, 1.8vw, 13px);
}

.gutter-horizontal,
.gutter-left {
  margin-left: clamp(1px, 1.8vw, 13px);
}

/*   grid                                   ka.lt/docs/scss/grid                  */
.page {
  padding: clamp(35px, 9vw, 65px) 0 0 0;
}

.section {
  width: 86vw;
  max-width: 720px;
  padding: clamp(75px, 15vh, 175px) 0;
  margin: 0 auto;
}

.block {
  margin: clamp(35px, 9vw, 65px) 0;
}

.block:last-child {
  margin-bottom: 0;
}

/*   layouts                                ka.lt/docs/scss/layouts               */
/*   mixins                                 ka.lt/docs/scss/mixins                */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background: #FCF9F2;
  touch-action: manipulation;
  overflow-x: hidden;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(10.5px, 2.7vw, 19.5px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #202124;
  text-decoration: underline;
}

*:before, *:after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
*::selection {
  background-color: #d0e5f4;
}

h1, h2 {
  font-family: "Kalt Display", "STIXGeneral Regular", "Times New Roman", Serif;
  font-size: clamp(24.5px, 6.3vw, 45.5px);
  line-height: 150%;
  margin-bottom: clamp(12px, 3.24vw, 25px);
  font-display: optional;
}
h1 a, h2 a {
  text-decoration: none;
}
h1 a:hover, h2 a:hover {
  text-decoration: underline;
}

h3 {
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(10.5px, 2.7vw, 19.5px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
}

a:focus {
  border: none;
  box-shadow: none;
}

input {
  background: transparent;
}

/*   scss-reset                             ka.lt/docs/scss/reset                 */
/*      layouts                       /*                                                                                */
.layout.focused .back-button {
  padding: clamp(12px, 3.24vw, 25px) 0 0 clamp(12px, 3.24vw, 25px);
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(10.5px, 2.7vw, 19.5px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  font-size: clamp(14px, 3.6vw, 26px);
}

.layout.focused .back-button:hover {
  cursor: pointer;
}

.layout.focused .section {
  padding-top: 0px;
}

/*   scss-reset                             ka.lt/docs/scss/reset                 */
/*      components                    /*                                                                                */
.chart {
  background: #FFF;
  padding: clamp(24.5px, 6.3vw, 45.5px) 0;
  border-right: #fff solid clamp(14px, 3.6vw, 26px);
  border-left: #fff solid clamp(14px, 3.6vw, 26px);
  box-sizing: border-box;
  border-radius: 4px;
}

.chart,
canvas,
.chartjs {
  width: 100%;
} /*                                          ka.lt/docs/components/charts          */
.dds-currencyAmount {
  width: 100%;
}

.dds-currencyAmount .wrap-amount {
  width: 85%;
}

.dds-currencyAmount .wrap-currency {
  width: 15%;
}

.dds-currencyAmount .wrap-amount input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dds-currencyAmount .wrap-currency select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  text-align: right;
}

.dds-currencyAmount .wrap-amount,
.dds-currencyAmount .wrap-currency {
  display: inline-block;
}

/*                                          ka.lt/docs/components/currencyAmount  */
.frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-start;
  height: 50vw;
  max-height: 418px;
}
.frame div {
  width: 100%;
}
.frame canvas {
  height: 50vw;
  max-height: 418px;
}
.frame .image {
  height: 32vw;
  max-height: 268px;
  display: inline-block;
  flex-grow: 1;
  flex-basis: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #d0e5f4;
  border-radius: 2px;
}
.frame .image.contain {
  background-size: contain;
  background-color: transparent;
}
.frame .image:first-child {
  height: 50vw;
  max-height: 418px;
}
.frame .image:last-child {
  margin-left: clamp(14px, 3.6vw, 26px);
}
.frame:after {
  display: block;
  margin: 0px;
  flex: 999 999 auto;
}

/*   navbar used in accounts page           ka.lt/docs/components/image           */
header .menu ul {
  position: fixed;
  z-index: 3;
  margin: 0;
  max-height: 7.1666666667vw;
  overflow: hidden;
  padding: clamp(12px, 3.24vw, 25px) 0 0 clamp(12px, 3.24vw, 25px);
}
header .menu ul li.logomark,
header .menu ul li.logomark span {
  opacity: 1;
  pointer-events: all;
}
header .menu ul li {
  opacity: 0;
  pointer-events: none;
  line-height: 1;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(10.5px, 2.7vw, 19.5px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  font-size: clamp(14px, 3.6vw, 26px);
  padding: 0;
  margin-bottom: 0;
}
header .menu ul li a {
  text-decoration: none;
}
header .menu ul li a:hover {
  text-decoration: underline;
}
header .menu ul li span {
  font-weight: 500;
  opacity: 0;
}
header .menu ul li:before {
  display: none;
}

header .menu-toggle {
  padding: clamp(12px, 3.24vw, 25px);
  right: clamp(24.5px, 6.3vw, 45.5px);
  position: fixed;
  font-size: clamp(14px, 3.6vw, 26px);
  line-height: clamp(14px, 3.6vw, 26px);
  top: 0.1px;
  width: auto;
  border: 0;
}
header .menu-toggle:hover, header .menu-toggle:hover:before {
  text-decoration: underline;
}

header .my-account-button {
  width: clamp(14px, 3.6vw, 26px);
  height: clamp(14px, 3.6vw, 26px);
  display: block;
  border-radius: 50%;
  position: fixed;
  top: 0.1px;
  right: 0.1px;
  background-image: url("/omoji/happy.svg");
  background-size: contain;
  margin: clamp(12px, 3.24vw, 25px);
}
header .my-account-button:hover {
  background-image: url("/omoji/super-happy.svg");
}

.notification-dot {
  min-width: 3.5px;
  width: 0.9vw;
  max-width: 6.5px;
  min-height: 3.5px;
  height: 0.9vw;
  max-height: 6.5px;
  top: 0.1px;
  right: 0.1px;
  margin: clamp(12px, 3.24vw, 25px);
  position: fixed;
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.2);
}

.show-menu .page {
  opacity: 0;
  pointer-events: none;
}
.show-menu .menu ul {
  overflow: visible;
}
.show-menu .menu ul li {
  opacity: 1;
  pointer-events: all;
}

.show-menu button.menu-toggle:before {
  content: "close ";
  display: inline-block;
  opacity: 1;
}

/*   the menu used in all pages             ka.lt/docs/components/navbar          */
/* happy */
span.happy,
span.😊,
span.🙂 {
  background-image: url("../omoji/happy.svg");
}

/* Super happy */
span.😃,
span.😄,
span.😁,
span.😆,
span.😀 {
  background-image: url("../omoji/super-happy.svg");
}

/* Sad */
span.☹️,
span.🙁,
span.😟,
span.😒,
span.😞,
span.😔 {
  background-image: url("../omoji/sad.svg");
}

/* ambivalent */
span.🙃 {
  background-image: url("../omoji/ambivalent.svg");
}

/* Suprised */
span.😯,
span.😮,
span.😲 {
  background-image: url("../omoji/suprised.svg");
}

/* Scared or very sad*/
span.😦 {
  background-image: url("../omoji/scared.svg");
}

/* wink */
/* laughing */
/* other */
span.☀️ {
  background-image: url("../omoji/sun.svg");
}

/* arrows */
span.↑ {
  background-image: url("../omoji/arrow-up.svg");
}

span.↗ {
  background-image: url("../omoji/arrow-up-right.svg");
}

span.→ {
  background-image: url("../omoji/arrow-right.svg");
}

span.↘ {
  background-image: url("../omoji/arrow-down-right.svg");
}

span.↓ {
  background-image: url("../omoji/arrow-down.svg");
}

span.↙ {
  background-image: url("../omoji/arrow-down-left.svg");
}

span.← {
  background-image: url("../omoji/arrow-left.svg");
}

span.↖ {
  background-image: url("../omoji/arrow-up-left.svg");
}

span.↻ {
  font-size: 138%;
  background-image: url("../omoji/arrow-clockwise.svg");
}

span.↺ {
  font-size: 138%;
  background-image: url("../omoji/arrow-anti-clockwise.svg");
}

/*   omoji                                  ka.lt/docs/scss/layouts               */
.bottom-navbar {
  padding-bottom: clamp(75px, 15vh, 175px);
  width: 86vw;
  max-width: 720px;
  margin: 0 auto;
}

/*   the menu used in all pages             ka.lt/docs/components/navbar          */
.tabs {
  margin-bottom: 0;
}
.tabs nav {
  width: 100%;
  display: inline-block;
}
.tabs ul {
  margin-left: 0;
}
.tabs ul li {
  display: inline-block;
  margin-left: 5%;
  padding: 0 2px;
  line-height: 1.5;
}
.tabs ul li:first-child {
  margin-left: 0;
}
.tabs ul li:before {
  display: none;
  content: "";
}

/*   navbar used in accounts page           ka.lt/docs/components/tabs            */
nav.pills button {
  width: auto;
  display: inline;
  padding: clamp(2.1px, 0.54vw, 3.9px) clamp(3.5px, 0.9vw, 6.5px);
  font-size: 70%;
  border-radius: 3px;
  margin-right: clamp(2.1px, 0.54vw, 3.9px);
}

nav.pills button:hover {
  text-decoration: underline;
  border-radius: 0;
}

nav.pills a {
  text-decoration: none;
}

/*   */
/*   <input type="text">                    ka.lt/docs/components/username        */
.card {
  border: 0.1px solid #202124;
  border-radius: 3px;
  padding: clamp(7px, 1.8vw, 13px) clamp(14px, 3.6vw, 26px);
  margin: clamp(7px, 1.8vw, 13px) 0;
}

.card:hover {
  background-color: #fff;
  cursor: pointer;
}

.card .logo {
  width: clamp(28px, 7.2vw, 52px);
  height: clamp(28px, 7.2vw, 52px);
  background: transparent;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center left;
  box-sizing: border-box;
  vertical-align: top;
}

.card .logo.visa {
  background-image: url("/images/logos/visa.svg");
}

.card .logo.mastercard {
  background-image: url("/images/logos/mastercard.svg");
}

.card .logo.amex {
  background-image: url("/images/logos/amex.svg");
}

.card .details {
  width: clamp(252px, 64.8vw, 468px);
  height: clamp(28px, 7.2vw, 52px);
  line-height: clamp(28px, 7.2vw, 52px);
  padding-left: clamp(14px, 3.6vw, 26px);
  display: inline-block;
  vertical-align: center;
}

.card .default {
  width: clamp(56px, 14.4vw, 104px);
  height: clamp(28px, 7.2vw, 52px);
  line-height: clamp(28px, 7.2vw, 52px);
  display: inline-block;
  text-align: right;
}

.card .default.true span {
  display: none;
}

.card:hover .default.false {
  text-decoration: underline;
}

.add-card .expiry_year-group,
.add-card .expiry_month-group {
  width: 50%;
  display: inline-block;
}

.add-card .expiry_month-group select {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.add-card .expiry_year-group select {
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.add-card .expiry_year-group select {
  border-left-width: 0px;
}

/*                                          ka.lt/docs/components/tabs            */
/*      elements                      /*                                                                                */
.element.input.text {
  margin-top: clamp(7px, 1.8vw, 13px);
}

/*   <input type="text">                    ka.lt/docs/elements/text              */
.element.input.password {
  margin-top: clamp(7px, 1.8vw, 13px);
}

/*   <input type="password">                ka.lt/docs/elements/password          */
.element.input.date {
  margin-top: clamp(7px, 1.8vw, 13px);
}

/*   <input type="date">                    ka.lt/docs/elements/date              */
input[type=submit].atom {
  border-radius: 50%;
  margin-top: clamp(21px, 5.4vw, 39px);
  text-transform: lowercase;
  padding: 2% 0;
}

input[type=submit].atom:hover {
  cursor: pointer;
  background: white;
  border-radius: 3px;
}

/*   <input type="submit">                  ka.lt/docs/elements/textInput         */
.element.input.number {
  margin-top: clamp(7px, 1.8vw, 13px);
}

/*   <input type="number">                  ka.lt/docs/elements/number            */
.element.input.email {
  margin-top: clamp(7px, 1.8vw, 13px);
}

/*   <input type="email">                   ka.lt/docs/elements/email             */
.element.select {
  margin-top: clamp(7px, 1.8vw, 13px);
}

/*   <input type="email">                   ka.lt/docs/elements/email             */
.pills input {
  display: none;
}

.pills label {
  font-size: 70%;
  padding: 2px 8px;
  border: 0.1px solid #202124;
  border-radius: 3px;
  margin-right: 10px;
}

/*   <input type="email">                   ka.lt/docs/elements/email             */
.link-group {
  width: 100%;
  margin: clamp(7px, 1.8vw, 13px);
  text-align: center;
}

.link-group a {
  margin: clamp(7px, 1.8vw, 13px);
}

/*   <div class="link-group"> <a>           ka.lt/docs/elements/link-group        */
/*



        NEEDS TO BE MODIFIED, NOT AT ALL SPECIFIC FOR THE toggleSwitch



*/
.switch {
  position: relative;
  display: inline-block;
  top: clamp(3.5px, 0.9vw, 6.5px);
  width: clamp(24.5px, 6.3vw, 45.5px);
  height: clamp(14px, 3.6vw, 26px);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d0e5f4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: clamp(12.6px, 3.24vw, 23.4px);
  width: clamp(12.6px, 3.24vw, 23.4px);
  left: clamp(0.7px, 0.18vw, 1.3px);
  bottom: clamp(0.7px, 0.18vw, 1.3px);
  background-color: #FCF9F2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1E96FC;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1E96FC;
}

input:checked + .slider:before {
  transform: translateX(clamp(9.8px, 2.52vw, 18.2px));
}

/* Rounded sliders */
.slider.round {
  border-radius: clamp(13.3px, 3.42vw, 24.7px);
}

.slider.round:before {
  border-radius: 50%;
}

/*   <input type="radio"> styled as toggle  ka.lt/docs/elements/toggleSwitch      */
button.square {
  border-radius: 3px;
}
button.square:hover {
  background: white;
}

/*   <button class="square">                ka.lt/docs/elements/buttons           */
/*      Atoms                         /*                                                                                */
a:focus button {
  background-color: white;
}

a:focus button,
a:hover button {
  border-radius: 0%;
  cursor: pointer;
}

button {
  margin-bottom: clamp(7px, 1.8vw, 13px);
  width: 100%;
  padding: 2% 0;
  background: transparent;
  border-radius: 50%;
  border: 0.1px solid #202124;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(10.5px, 2.7vw, 19.5px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
}
button.square, button:focus, button:hover {
  cursor: pointer;
  border-radius: 0%;
}

/*   <button>                               ka.lt/docs/atoms/button               */
input {
  width: 100%;
  display: inline-block;
  padding: clamp(3.5px, 0.9vw, 6.5px) clamp(8.4px, 2.16vw, 15.6px);
  border: 0.1px solid #202124;
  border-radius: 3.5px;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(10.5px, 2.7vw, 19.5px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  box-sizing: border-box;
}

input:focus {
  background-color: #fff;
}

input:active {
  background-color: #fff;
}

input.loading {
  background-image: url("../loading-gif.gif");
  background-size: clamp(7px, 1.8vw, 13px);
  background-position: 95% center;
  background-repeat: no-repeat;
}

input.success {
  background-image: url("omoji/super-happy.svg");
  background-size: clamp(7px, 1.8vw, 13px);
  background-position: 95% center;
  background-repeat: no-repeat;
}

input.error {
  background-image: url("omoji/suprised.svg");
  background-size: clamp(7px, 1.8vw, 13px);
  background-position: 95% center;
  background-repeat: no-repeat;
}

/*   <input>                                ka.lt/docs/atoms/input                */
label {
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(10.5px, 2.7vw, 19.5px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  font-size: clamp(8.4px, 2.16vw, 15.6px);
}

/*   <label>                                ka.lt/docs/atoms/label                */
ol {
  list-style: decimal;
  margin-left: clamp(33.6px, 8.64vw, 62.4px);
}

ul {
  margin-left: clamp(33.6px, 8.64vw, 62.4px);
}

ul > li {
  margin-bottom: clamp(7px, 1.8vw, 13px);
}

ul > li:before {
  position: relative;
  margin-left: -7%;
  margin-right: 3.3%;
  content: "→";
}

/*   <ol> <ul>                              ka.lt/docs/atoms/lists                */
select {
  width: 100%;
  display: inline-block;
  padding: clamp(4.6666666667px, 1.2vw, 8.6666666667px) clamp(10.5px, 2.7vw, 19.5px) clamp(4.6666666667px, 1.2vw, 8.6666666667px) clamp(8.4px, 2.16vw, 15.6px);
  border: 0.1px solid #202124;
  border-radius: 3.5px;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(10.5px, 2.7vw, 19.5px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  box-sizing: border-box;
  background-color: transparent;
}

select:focus {
  background-color: white;
}

select.loading {
  background-color: red;
}

/*   <select>                               ka.lt/docs/atoms/select               */
table {
  width: 100%;
}

tr th,
tr td {
  text-align: left;
  border-bottom: 0.1px solid #202124;
  font-size: 80%;
}

table:hover tr:hover {
  background: white;
}

/*   <table>                                ka.lt/docs/atoms/table                */
.sorry-text {
  margin-top: clamp(20px, 20vw, 180px);
  text-align: center;
}

.sorry-text button {
  width: 50%;
  margin: auto;
}
