@charset "UTF-8";
/* The following clamps are half of their counterpart.
Example: $big-clamp-half is half of $big-clamp. */
/* 
 Display text
*/
@font-face {
  font-family: "Kalt Display";
  src: url("/fonts/display/ogg-regular-kalt.eot");
  src: url("/fonts/display/ogg-regular-kalt.eot?#iefix") format("embedded-opentype"), url("/fonts/display/ogg-regular-kalt.woff2") format("woff2"), url("/fonts/display/ogg-regular-kalt.woff") format("woff"), url("/fonts/display/ogg-regular-kalt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*
    Body text
*/
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-Mediu.eot");
  src: local("NeueHaasDisplay-Mediu"), url("/fonts/body/NeueHaasDisplay-Mediu.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-Mediu.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-Mediu.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-Mediu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-RomanItalic.eot");
  src: local("NeueHaasDisplay-RomanItalic"), url("/fonts/body/NeueHaasDisplay-RomanItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-RomanItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-RomanItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-RomanItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-Black.eot");
  src: local("NeueHaasDisplay-Black"), url("/fonts/body/NeueHaasDisplay-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-Black.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-Black.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-MediumItalic.eot");
  src: local("NeueHaasDisplay-MediumItalic"), url("/fonts/body/NeueHaasDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-MediumItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-MediumItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-BlackItalic.eot");
  src: local("NeueHaasDisplay-BlackItalic"), url("/fonts/body/NeueHaasDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-BlackItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-BlackItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-Roman.eot");
  src: local("NeueHaasDisplay-Roman"), url("/fonts/body/NeueHaasDisplay-Roman.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-Roman.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-Roman.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-Roman.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-BoldItalic.eot");
  src: local("NeueHaasDisplay-BoldItalic"), url("/fonts/body/NeueHaasDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-BoldItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-BoldItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-LightItalic.eot");
  src: local("NeueHaasDisplay-LightItalic"), url("/fonts/body/NeueHaasDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-LightItalic.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-LightItalic.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-Bold.eot");
  src: local("NeueHaasDisplay-Bold"), url("/fonts/body/NeueHaasDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-Bold.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-Bold.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/body/NeueHaasDisplay-Light.eot");
  src: local("NeueHaasDisplay-Light"), url("/fonts/body/NeueHaasDisplay-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/body/NeueHaasDisplay-Light.woff2") format("woff2"), url("/fonts/body/NeueHaasDisplay-Light.woff") format("woff"), url("/fonts/body/NeueHaasDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* 
    monospace
*/
@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/monospace/SourceCodePro-Regular.eot");
  src: local("SourceCodePro Regular"), local("SourceCodePro-Regular"), url("/fonts/monospace/SourceCodePro-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/monospace/SourceCodePro-Regular.woff2") format("woff2"), url("/fonts/monospace/SourceCodePro-Regular.woff") format("woff"), url("/fonts/monospace/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.grid-col-3,
.grid-col-2 {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2% 2%;
  grid-auto-flow: row;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.page {
  padding: clamp(40px, 7.8181818182vw, 65.4545454545px) 0 0 0;
}

main {
  min-height: 100vh;
}

.section {
  width: 86vw;
  max-width: 720px;
  padding: clamp(56px, 10.9454545455vw, 91.6363636364px) 0;
  margin: 0 auto;
}

.block {
  margin: clamp(40px, 7.8181818182vw, 65.4545454545px) 0;
}

.block:last-child {
  margin-bottom: 0;
}

.center-text {
  text-align: center;
}

p.links a:first-child {
  margin-right: clamp(16px, 3.1272727273vw, 26.1818181818px);
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background: #FCF9F2;
  touch-action: manipulation;
  overflow-x: hidden;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #202124;
  text-decoration: underline;
}

*:before, *:after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
*::selection {
  background-color: #d0e5f4;
}

h1, h2 {
  font-family: "Kalt Display", "STIXGeneral Regular", "Times New Roman", Serif;
  font-size: clamp(28px, 5.4727272727vw, 45.8181818182px);
  line-height: 150%;
  margin-bottom: clamp(16px, 3.1272727273vw, 26.1818181818px);
  font-display: optional;
}
h1 a, h2 a {
  text-decoration: none;
}
h1 a:hover, h2 a:hover {
  text-decoration: underline;
}

h3 {
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
}

a:focus {
  border: none;
  box-shadow: none;
}

input {
  background: transparent;
}

.layout.focused .back-button {
  padding: clamp(16px, 3.1272727273vw, 26.1818181818px) 0 0 clamp(16px, 3.1272727273vw, 26.1818181818px);
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  font-size: clamp(16px, 3.1272727273vw, 26.1818181818px);
  position: fixed;
}

.layout.focused .back-button:hover {
  cursor: pointer;
}

.layout.focused .section {
  padding-top: 0;
}

.layout.questions .back-button {
  padding: clamp(16px, 3.1272727273vw, 26.1818181818px) 0 0 clamp(16px, 3.1272727273vw, 26.1818181818px);
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  font-size: clamp(16px, 3.1272727273vw, 26.1818181818px);
  position: fixed;
}

.layout.questions .back-button:hover {
  cursor: pointer;
}

.layout.questions .section {
  padding-top: 0;
}

.layout.questions p,
.layout.questions h1 {
  background-color: #fff;
  padding: clamp(8px, 1.5636363636vw, 13.0909090909px) clamp(16px, 3.1272727273vw, 26.1818181818px);
  border-radius: clamp(8px, 1.5636363636vw, 13.0909090909px);
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  font-size: 110%;
  display: inline-block;
  width: auto;
}

.layout.questions h1 {
  margin-left: clamp(48px, 9.3818181818vw, 78.5454545455px);
  float: right;
  background: #77bef8;
}

.layout.questions p {
  margin-top: clamp(8px, 1.5636363636vw, 13.0909090909px);
  margin-right: clamp(48px, 9.3818181818vw, 78.5454545455px);
  margin-bottom: clamp(8px, 1.5636363636vw, 13.0909090909px);
  background: #6cf7a6;
  position: relative;
}

.impacts {
  margin-top: clamp(28px, 5.4727272727vw, 45.8181818182px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2% 2%;
  grid-auto-flow: row;
}

.impacts .impact {
  padding: clamp(8px, 1.5636363636vw, 13.0909090909px) 0;
  border-top: 0.1px solid #202124;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr;
  gap: 3% 2%;
  grid-auto-flow: row;
  font-size: 120%;
}

.impacts .impact .image {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

.impacts .impact .image#car {
  background-image: url("/illustrations/car.svg");
}

.impacts .impact .image#house {
  background-image: url("/illustrations/house.svg");
}

.impacts .impact .image#plane {
  background-image: url("/illustrations/plane.svg");
}

.dds-currencyAmount {
  width: 100%;
}

.dds-currencyAmount .wrap-amount {
  width: 85%;
}

.dds-currencyAmount .wrap-currency {
  width: 15%;
}

.dds-currencyAmount .wrap-amount input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dds-currencyAmount .wrap-currency select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  text-align: right;
}

.dds-currencyAmount .wrap-amount,
.dds-currencyAmount .wrap-currency {
  display: inline-block;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-start;
  height: 50vw;
  max-height: 418px;
}
.frame div {
  width: 100%;
}
.frame .image {
  height: 32vw;
  max-height: 268px;
  display: inline-block;
  flex-grow: 1;
  flex-basis: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #d0e5f4;
  border-radius: 0;
}
.frame .image.contain {
  background-size: contain;
  background-color: transparent;
}
.frame .image:first-child {
  height: 50vw;
  max-height: 418px;
}
.frame .image:last-child {
  margin-left: clamp(16px, 3.1272727273vw, 26.1818181818px);
}
.frame:after {
  display: block;
  margin: 0;
  flex: 999 999 auto;
}

.chart {
  box-sizing: border-box;
}

.frame:has(.chart) {
  height: 45vw;
  max-height: 376px;
  margin: clamp(16px, 3.1272727273vw, 26.1818181818px) 0 0 0;
}

.chart,
canvas,
.chartjs {
  width: 100%;
}

header .menu ul {
  position: fixed;
  z-index: 3;
  margin: 0;
  overflow: hidden;
  padding: clamp(16px, 3.1272727273vw, 26.1818181818px) 0 0 clamp(16px, 3.1272727273vw, 26.1818181818px);
}
header .menu ul li.logomark,
header .menu ul li.logomark span {
  opacity: 1;
  pointer-events: all;
}
header .menu ul li {
  opacity: 0;
  pointer-events: none;
  padding: 0;
  margin-bottom: 0;
}
header .menu ul li a {
  text-decoration: none;
}
header .menu ul li a:hover {
  text-decoration: underline;
}
header .menu ul li span {
  font-weight: 500;
  opacity: 0;
}
header .menu ul li:before {
  display: none;
}

header .menu-toggle,
header .menu ul li {
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  font-size: clamp(16px, 3.1272727273vw, 26.1818181818px);
}

header .menu-toggle {
  padding: clamp(16px, 3.1272727273vw, 26.1818181818px);
  right: clamp(28px, 5.4727272727vw, 45.8181818182px);
  position: fixed;
  top: 0.1px;
  width: auto;
  color: #202124;
  border: 0;
}
header .menu-toggle:hover, header .menu-toggle:hover:before {
  text-decoration: underline;
}

header .my-account-button {
  width: clamp(16px, 3.1272727273vw, 26.1818181818px);
  height: clamp(16px, 3.1272727273vw, 26.1818181818px);
  display: block;
  position: fixed;
  top: 0.1px;
  right: 0.1px;
  background-image: url("/omoji/happy.svg");
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
  margin: clamp(16px, 3.1272727273vw, 26.1818181818px);
  margin-top: clamp(20px, 3.9090909091vw, 32.7272727273px);
}
header .my-account-button:hover {
  background-image: url("/omoji/super-happy.svg");
}

.notification-dot {
  min-width: 4px;
  width: 0.7818181818vw;
  max-width: 6.5454545455px;
  min-height: 4px;
  height: 0.7818181818vw;
  max-height: 6.5454545455px;
  top: 0.1px;
  right: 0.1px;
  margin: clamp(12px, 3.24vw, 25px);
  position: fixed;
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.2);
}

.show-menu .bottom-navbar,
.show-menu .page {
  opacity: 0;
  pointer-events: none;
}
.show-menu .menu ul {
  overflow: visible;
}
.show-menu .menu ul li {
  opacity: 1;
  pointer-events: all;
}

.show-menu button.menu-toggle:before {
  content: "close ";
  display: inline-block;
  opacity: 1;
}

.bottom-navbar {
  width: 86vw;
  max-width: 720px;
  padding: clamp(16px, 3.1272727273vw, 26.1818181818px) 0;
  margin: 0 auto;
  color: #FCF9F2;
}
.bottom-navbar a {
  color: #FCF9F2;
  text-decoration: none;
}
.bottom-navbar a:hover {
  text-decoration: underline;
}
.bottom-navbar h4 {
  font-weight: 500;
  margin-top: clamp(16px, 3.1272727273vw, 26.1818181818px);
}
.bottom-navbar .insignia {
  background-image: url("/media/insignia/insignia-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: clamp(40px, 7.8181818182vw, 65.4545454545px);
  background-position: center center;
  width: 100%;
  font-family: "Kalt Display", "STIXGeneral Regular", "Times New Roman", Serif;
  font-size: clamp(28px, 5.4727272727vw, 45.8181818182px);
  line-height: 150%;
  margin-bottom: clamp(16px, 3.1272727273vw, 26.1818181818px);
  font-display: optional;
  font-size: 150%;
  height: clamp(64px, 12.5090909091vw, 104.7272727273px);
  line-height: clamp(64px, 12.5090909091vw, 104.7272727273px);
  text-align: center;
}

.bottom-navbar-wrapper {
  background: #202124;
}

.tabs {
  margin-bottom: 0;
}
.tabs nav {
  width: 100%;
  display: inline-block;
}
.tabs ul {
  margin-left: 0;
}
.tabs ul li {
  display: inline-block;
  margin-left: clamp(16px, 3.1272727273vw, 26.1818181818px);
  padding: 0;
  line-height: 1.5;
  margin-right: 0;
}
.tabs ul li:first-child {
  margin-left: 0;
}
.tabs ul li:before {
  display: none;
  content: "";
}

/* happy */
span.happy,
span.😊,
span.🙂 {
  background-image: url("../omoji/happy.svg");
}

/* Super happy */
span.😃,
span.😄,
span.😁,
span.😆,
span.😀 {
  background-image: url("../omoji/super-happy.svg");
}

/* Sad */
span.☹️,
span.🙁,
span.😟,
span.😒,
span.😞,
span.😔 {
  background-image: url("../omoji/sad.svg");
}

/* ambivalent */
span.🙃 {
  background-image: url("../omoji/ambivalent.svg");
}

/* Suprised */
span.😯,
span.😮,
span.😲 {
  background-image: url("../omoji/suprised.svg");
}

/* Scared or very sad*/
span.😦 {
  background-image: url("../omoji/scared.svg");
}

/* wink */
span.😉 {
  background-image: url("../omoji/wink.svg");
}

/* laughing */
/* tounge-out */
span.😜,
span.😛,
span.😝,
span.🤪 {
  background-image: url("../omoji/tounge-out.svg");
}

/* other */
span.☀️ {
  background-image: url("../omoji/sun.svg");
}

/* arrows */
span.↑ {
  background-image: url("../omoji/arrow-up.svg");
}

span.↗ {
  background-image: url("../omoji/arrow-up-right.svg");
}

span.→ {
  background-image: url("../omoji/arrow-right.svg");
}

span.↘ {
  background-image: url("../omoji/arrow-down-right.svg");
}

span.↓ {
  background-image: url("../omoji/arrow-down.svg");
}

span.↙ {
  background-image: url("../omoji/arrow-down-left.svg");
}

span.← {
  background-image: url("../omoji/arrow-left.svg");
}

span.↖ {
  background-image: url("../omoji/arrow-up-left.svg");
}

span.↻ {
  font-size: 138%;
  background-image: url("../omoji/arrow-clockwise.svg");
}

span.↺ {
  font-size: 138%;
  background-image: url("../omoji/arrow-anti-clockwise.svg");
}

span.ⓘ {
  font-size: 138%;
  background-image: url("../omoji/enclosed-text-i.svg");
}

.cta {
  text-align: center;
}
.cta .green-gradient {
  background: linear-gradient(318deg, #FCF9F2, #FCF9F2, #d0e5f4, #FCF9F2, #FCF9F2);
  background-size: 1200% 1200%;
  -webkit-animation: gradient 9s ease infinite;
  -moz-animation: gradient 9s ease infinite;
  animation: gradient 9s ease infinite;
}
.cta a {
  text-decoration: none;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
.infobox {
  border: 1px solid #1E96FC;
  border-radius: 0;
  padding: clamp(4px, 0.7818181818vw, 6.5454545455px) clamp(8px, 1.5636363636vw, 13.0909090909px);
  background: #d0e5f4;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  font-size: 80%;
  margin: clamp(8px, 1.5636363636vw, 13.0909090909px) 0;
}
.infobox span {
  margin-right: clamp(4px, 0.7818181818vw, 6.5454545455px);
  font-size: 90%;
}

.infobox#warn {
  border: 1px solid #F7B538;
  background: #fbebcd;
}

.component.calendar {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1% 1%;
  grid-auto-flow: row;
}
.component.calendar input {
  display: none;
}
.component.calendar label {
  user-select: none;
}
.component.calendar label:hover {
  background: white;
  cursor: pointer;
}
.component.calendar input[type=checkbox] + label {
  border: 0.1px solid #202124;
  display: inline-block;
  border-radius: 0;
  width: clamp(1px, 4.6909090909vw, 39.2727272727px);
  height: clamp(8px, 1.5636363636vw, 13.0909090909px);
  line-height: clamp(8px, 1.5636363636vw, 13.0909090909px);
  padding: clamp(8px, 1.5636363636vw, 13.0909090909px) clamp(8px, 1.5636363636vw, 13.0909090909px) clamp(16px, 3.1272727273vw, 26.1818181818px) clamp(24px, 4.6909090909vw, 39.2727272727px);
  text-align: right;
  margin: clamp(2.6666666667px, 0.5212121212vw, 4.3636363636px) 0;
}
.component.calendar input[type=checkbox]:checked + label {
  text-decoration: underline;
  border-radius: 0;
  background: #ccf8d9;
}

.card {
  border: 0.1px solid #202124;
  border-radius: 0;
  padding: clamp(8px, 1.5636363636vw, 13.0909090909px) 0 clamp(8px, 1.5636363636vw, 13.0909090909px) clamp(16px, 3.1272727273vw, 26.1818181818px);
  margin: clamp(8px, 1.5636363636vw, 13.0909090909px) 0;
  max-height: clamp(32px, 6.2545454545vw, 52.3636363636px);
  overflow: hidden;
}

.card:hover {
  background-color: #fff;
  cursor: pointer;
}

.card .logo {
  width: clamp(32px, 6.2545454545vw, 52.3636363636px);
  height: clamp(32px, 6.2545454545vw, 52.3636363636px);
  background: transparent;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center left;
  box-sizing: border-box;
  vertical-align: top;
}

.card .logo.visa {
  background-image: url("/media/images/logos/visa.svg");
}

.card .logo.mastercard {
  background-image: url("/media/images/logos/mastercard.svg");
}

.card .logo.amex {
  background-image: url("/media/images/logos/amex.svg");
}

.card .details {
  width: clamp(120px, 23.4545454545vw, 196.3636363636px);
  height: clamp(32px, 6.2545454545vw, 52.3636363636px);
  line-height: clamp(32px, 6.2545454545vw, 52.3636363636px);
  padding-left: clamp(16px, 3.1272727273vw, 26.1818181818px);
  display: inline-block;
  vertical-align: center;
}

.card .default {
  width: clamp(64px, 12.5090909091vw, 104.7272727273px);
  height: clamp(32px, 6.2545454545vw, 52.3636363636px);
  line-height: clamp(32px, 6.2545454545vw, 52.3636363636px);
  display: block;
  float: right;
  padding-right: clamp(16px, 3.1272727273vw, 26.1818181818px);
  text-align: right;
}

.card .default.true span {
  display: none;
}

.card:hover .default.false {
  text-decoration: underline;
}

.add-card .expiry_year-group,
.add-card .expiry_month-group {
  width: 50%;
  display: inline-block;
}

.add-card .expiry_month-group select {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.add-card .expiry_year-group select {
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.add-card .expiry_year-group select {
  border-left-width: 0px;
}

.notification {
  padding: clamp(8px, 1.5636363636vw, 13.0909090909px);
  padding-right: none;
  border: 1px solid #202124;
  border-radius: 0;
  margin: clamp(8px, 1.5636363636vw, 13.0909090909px) 0;
  height: clamp(32px, 6.2545454545vw, 52.3636363636px);
}
.notification:hover {
  background: white;
  cursor: pointer;
}
.notification:hover .title {
  text-decoration: underline;
}
.notification .profile-picture {
  width: clamp(32px, 6.2545454545vw, 52.3636363636px);
  height: clamp(32px, 6.2545454545vw, 52.3636363636px);
  display: inline-block;
  background-size: contain;
  border-radius: 50%;
}
.notification .profile-picture.christer {
  background-image: url("../media/people/caleb.jpg");
}
.notification .summary {
  width: 85%;
  margin-left: clamp(8px, 1.5636363636vw, 13.0909090909px);
  display: inline-block;
  position: relative;
  height: clamp(32px, 6.2545454545vw, 52.3636363636px);
  overflow: hidden;
}
.notification .date,
.notification .summary .by-line {
  vertical-align: top;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5;
  font-size: 60%;
}
.notification .date {
  position: absolute;
  top: 0;
  right: 0;
}

.element.input.text {
  margin-top: clamp(8px, 1.5636363636vw, 13.0909090909px);
}

.element.input.password {
  margin-top: clamp(8px, 1.5636363636vw, 13.0909090909px);
}

.element.input.date {
  margin-top: clamp(8px, 1.5636363636vw, 13.0909090909px);
}

.input-wrap.checkbox {
  padding-top: clamp(16px, 3.1272727273vw, 26.1818181818px);
}

input[type=checkbox i] {
  width: auto;
}

input[type=checkbox i] + label {
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
}

input[type=submit].atom {
  border-radius: 50%;
  margin-top: clamp(24px, 4.6909090909vw, 39.2727272727px);
  text-transform: lowercase;
  padding: 2% 0;
}

input[type=submit].atom:hover {
  cursor: pointer;
  background: #ffffff;
  border-radius: 0;
}

.pill {
  display: inline-block;
  width: clamp(60px, 11.7272727273vw, 98.1818181818px);
  padding: 0;
  font-size: 85%;
  margin-right: clamp(8px, 1.5636363636vw, 13.0909090909px);
  border-radius: 0;
}

.pill:hover {
  border-radius: 50%;
  background: white;
}

.element.input.number {
  margin-top: clamp(8px, 1.5636363636vw, 13.0909090909px);
}

.element.input.email {
  margin-top: clamp(8px, 1.5636363636vw, 13.0909090909px);
}

.element.select {
  margin-top: clamp(8px, 1.5636363636vw, 13.0909090909px);
}

.element.bomb {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  font-size: clamp(16px, 3.1272727273vw, 26.1818181818px);
  line-height: clamp(24px, 4.6909090909vw, 39.2727272727px);
  padding-right: clamp(16px, 3.1272727273vw, 26.1818181818px);
  margin-right: clamp(4px, 0.7818181818vw, 6.5454545455px);
}
.element.bomb#flower-01 {
  background-image: url("/media/stickers/flower-01.png");
}
.element.bomb#flower-02 {
  background-image: url("/media/stickers/flower-02.png");
}
.element.bomb#flower-01 {
  background-image: url("/media/stickers/flower-01.png");
}
.element.bomb#flower-01 {
  background-image: url("/media/stickers/flower-01.png");
}

.pills input {
  display: none;
}

.pills label {
  font-size: 70%;
  padding: 2px clamp(8px, 1.5636363636vw, 13.0909090909px);
  border: 0.1px solid #202124;
  border-radius: 0;
  margin-right: clamp(8px, 1.5636363636vw, 13.0909090909px);
}

.link-group {
  width: 100%;
  margin: clamp(8px, 1.5636363636vw, 13.0909090909px);
  text-align: center;
}

.link-group a {
  margin: clamp(8px, 1.5636363636vw, 13.0909090909px);
}

/*



        NEEDS TO BE MODIFIED, NOT AT ALL SPECIFIC FOR THE toggleSwitch



*/
.switch {
  position: relative;
  display: inline-block;
  top: clamp(4px, 0.7818181818vw, 6.5454545455px);
  width: clamp(28px, 5.4727272727vw, 45.8181818182px);
  height: clamp(16px, 3.1272727273vw, 26.1818181818px);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d0e5f4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: clamp(14.4px, 2.8145454545vw, 23.5636363636px);
  width: clamp(14.4px, 2.8145454545vw, 23.5636363636px);
  left: clamp(0.8px, 0.1563636364vw, 1.3090909091px);
  bottom: clamp(0.8px, 0.1563636364vw, 1.3090909091px);
  background-color: #FCF9F2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1E96FC;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1E96FC;
}

input:checked + .slider:before {
  transform: translateX(clamp(11.2px, 2.1890909091vw, 18.3272727273px));
}

/* Rounded sliders */
.slider.round {
  border-radius: clamp(15.2px, 2.9709090909vw, 24.8727272727px);
}

.slider.round:before {
  border-radius: 50%;
}

button.square {
  border-radius: 0;
}
button.square:hover {
  background: white;
}

a:focus button {
  background-color: white;
}

a:focus button,
a:hover button {
  border-radius: 0%;
  cursor: pointer;
}

button {
  margin-bottom: clamp(8px, 1.5636363636vw, 13.0909090909px);
  width: 100%;
  padding: 2% 0;
  background: transparent;
  color: #202124;
  border-radius: 50%;
  border: 0.1px solid #202124;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
}
button.square, button:focus, button:hover {
  cursor: pointer;
  border-radius: 0%;
}

input {
  width: 100%;
  display: inline-block;
  padding: clamp(4px, 0.7818181818vw, 6.5454545455px) clamp(9.6px, 1.8763636364vw, 15.7090909091px);
  border: 0.1px solid #202124;
  border-radius: 0;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  box-sizing: border-box;
}

input:focus {
  background-color: #fff;
}

input:active {
  background-color: #fff;
}

input.loading {
  background-image: url("../loading-gif.gif");
  background-size: clamp(8px, 1.5636363636vw, 13.0909090909px);
  background-position: 95% center;
  background-repeat: no-repeat;
}

input.success {
  background-image: url("omoji/super-happy.svg");
  background-size: clamp(8px, 1.5636363636vw, 13.0909090909px);
  background-position: 95% center;
  background-repeat: no-repeat;
}

input.error {
  background-image: url("omoji/suprised.svg");
  background-size: clamp(8px, 1.5636363636vw, 13.0909090909px);
  background-position: 95% center;
  background-repeat: no-repeat;
}

label {
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  font-size: clamp(9.6px, 1.8763636364vw, 15.7090909091px);
}

ol {
  list-style: decimal;
  margin-left: clamp(33.6px, 8.64vw, 62.4px);
}

ul {
  margin-left: clamp(33.6px, 8.64vw, 62.4px);
}

ul > li {
  margin-bottom: clamp(8px, 1.5636363636vw, 13.0909090909px);
}

ul > li:before {
  position: relative;
  margin-left: -7%;
  margin-right: 3.3%;
  content: "→";
}

select {
  width: 100%;
  display: inline-block;
  padding: clamp(5.3333333333px, 1.0424242424vw, 8.7272727273px) clamp(12px, 2.3454545455vw, 19.6363636364px) clamp(5.3333333333px, 1.0424242424vw, 8.7272727273px) clamp(9.6px, 1.8763636364vw, 15.7090909091px);
  border: 0.1px solid #202124;
  border-radius: 0;
  font-family: "Helvetica", "Raleway", "Arial", "Roboto", Sans-Serif;
  font-size: clamp(12px, 2.3454545455vw, 19.6363636364px);
  font-weight: 300;
  line-height: 150%;
  font-display: optional;
  box-sizing: border-box;
  background-color: transparent;
}

select:focus {
  background-color: white;
}

select.loading {
  background-color: red;
}

table {
  width: 100%;
}

tr th,
tr td {
  text-align: left;
  border-bottom: 0.1px solid #202124;
  font-size: 80%;
}

table:hover tr:hover {
  background: white;
}

h3 {
  font-size: clamp(24px, 4.6909090909vw, 39.2727272727px);
  line-height: 150%;
}

.sorry-text {
  margin-top: clamp(20px, 20vw, 180px);
  text-align: center;
}

.sorry-text button {
  width: 50%;
  margin: auto;
}
