@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';
@import 'base/fonts';

// headings

h1.serif{
  font-family: $serif;
  font-size: $big-clamp;
  line-height: 150%;
  margin-bottom: $big-clamp-half;
  font-display: optional;
}
h1.sans-serif{
  font-family: $sans-serif;
  font-size: $clamp-3;
}
h3{
  font-size: $clamp-3;
  line-height: 150%;
}
h4{
  font-weight:bold;
}
p{
  margin-bottom: $clamp-1-5;
  font-size: $clamp-1-5;
  line-height: 135%;
}

button.square{
  border-radius:$border-radius;
  &:hover{
    background:white;
  }
}



// things i dont know where to put yet..

.center-text{
  text-align: center;
}

p.links{
  a:first-child{
    margin-right:$clamp-2
  }
}


// Page wrapper
main{
  padding-top: $clamp-15;
  min-height:100vh;
  box-sizing:border-box;
}
select{
  width:100%;
  display:inline-block;
  padding:clamp($unit-min/1.5, $unit/1.5, $unit-max/1.5) 
          $clamp-1-5
          clamp($unit-min/1.5, $unit/1.5, $unit-max/1.5) 
          clamp($unit-min*1.2, $unit*1.2, $unit-max*1.2);
  border: $border;
  border-radius: $border-radius;
  @include font-body;
  box-sizing:border-box;
  background-color:transparent;
  height:clamp($unit-min*3.8, $unit*3.8, $unit-max*3.8);
  -webkit-appearance: none;

}
select:focus{
  background-color:white;
}
select.loading{
  background-image:url("/loading.gif");
  background-size: $clamp;
  background-position:95% center;
  background-repeat:no-repeat;
}
input{
  width:100%;
  display:inline-block;
  padding:clamp($unit-min/2, $unit/2, $unit-max/2) 
          clamp($unit-min*1.2, $unit*1.2, $unit-max*1.2);
  border: $border;
  border-radius: $border-radius;
  height:clamp($unit-min*3.8, $unit*3.8, $unit-max*3.8);
  @include font-body;
  box-sizing:border-box;
}

input:focus{
  background-color:#fff;
}
input:active{
  background-color:#fff;
}
input.loading{
  background-image:url("/loading.gif");
  background-size: $clamp;
  background-position:95% center;
  background-repeat:no-repeat;
}
input.success{
  background-image:url("omoji/super-happy.svg");
  background-size: $clamp;
  background-position:95% center;
  background-repeat:no-repeat;
}
input.error{
  background-image:url("omoji/suprised.svg");
  background-size: $clamp;
  background-position:95% center;
  background-repeat:no-repeat;
}


.input-wrap{
  margin-top: $clamp;
}
input[type="checkbox" i]  {
  width:auto;
  height:auto;
}
input[type="checkbox" i] + label{
  font-size:$clamp-1-5;
}

a:focus button{
  background-color:white;
}

a:focus button,
a:hover button{
  border-radius: 0px;
  cursor: pointer;
}
button {
  margin-bottom:$clamp;
  width: 100%;
  padding: 2% 0;
  background:transparent;
  color:$dark;
  border-radius:100%;
  border: $border;
  @include font-body;
  &.square,
  &:focus,
  &:hover {
    cursor: pointer;
    border-radius: 0px;
  }
}
label{
  @include font-body;
  font-size: clamp($unit-min*1.2, $unit*1.2, $unit-max*1.2);
}