input[type="submit"].atom{
  border-radius:900000px;
  margin-top: clamp($unit-min*3, $unit*3, $unit-max*3);
  text-transform: lowercase;
  color: $dark;
  height:clamp($unit-min*4.5, $unit*4.5, $unit-max*4.5);
}
input[type="submit"].atom:hover{
  cursor:pointer;
  background:#ffffff;
  border-radius:$border-radius;
}