.pill{
  display:inline-block;
  width:clamp($unit-min*7.5, $unit*7.5, $unit-max*7.5);
  padding:0;
  font-size:85%;
  margin-right: clamp($unit-min*1, $unit*1, $unit-max*1);
  border-radius:$border-radius;
}
.pill:hover{
  border-radius:100%;
  background:white;
}