input{
  width:100%;
  display:inline-block;
  padding:clamp($unit-min/2, $unit/2, $unit-max/2) 
          clamp($unit-min*1.2, $unit*1.2, $unit-max*1.2);
  border: $border;
  border-radius: $border-radius;
  @include font-body;
  box-sizing:border-box;
}

input:focus{
  background-color:#fff;
}
input:active{
  background-color:#fff;
}
input.success{
  background-image:url("/images/omoji/happy.svg");
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}