input{
  width:100%;
  display:inline-block;
  padding:clamp($unit-min/2, $unit/2, $unit-max/2) 
          clamp($unit-min*1.2, $unit*1.2, $unit-max*1.2);
  border: $border;
  border-radius: $border-radius;
  @include font-body;
  box-sizing:border-box;
}

input:focus{
  background-color:#fff;
}
input:active{
  background-color:#fff;
}
input.loading{
  background-image:url("../loading-gif.gif");
  background-size: clamp($unit-min, $unit, $unit-max);
  background-position:95% center;
  background-repeat:no-repeat;
}
input.success{
  background-image:url("omoji/super-happy.svg");
  background-size: clamp($unit-min, $unit, $unit-max);
  background-position:95% center;
  background-repeat:no-repeat;
}
input.error{
  background-image:url("omoji/suprised.svg");
  background-size: clamp($unit-min, $unit, $unit-max);
  background-position:95% center;
  background-repeat:no-repeat;
}