/* 
 Display text
*/


@font-face {
    font-family: 'Kalt Display';
    src: url('/fonts/display/ogg-regular-kalt.eot');
    src: url('/fonts/display/ogg-regular-kalt.eot?#iefix') format('embedded-opentype'),
         url('/fonts/display/ogg-regular-kalt.woff2') format('woff2'),
         url('/fonts/display/ogg-regular-kalt.woff') format('woff'),
         url('/fonts/display/ogg-regular-kalt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
    Body text
*/
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/body/NeueHaasDisplay-Mediu.eot');
    src: local('NeueHaasDisplay-Mediu'),
        url('/fonts/body/NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
        url('/fonts/body/NeueHaasDisplay-Mediu.woff2') format('woff2'),
        url('/fonts/body/NeueHaasDisplay-Mediu.woff') format('woff'),
        url('/fonts/body/NeueHaasDisplay-Mediu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/body/NeueHaasDisplay-RomanItalic.eot');
    src: local('NeueHaasDisplay-RomanItalic'),
        url('/fonts/body/NeueHaasDisplay-RomanItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/body/NeueHaasDisplay-RomanItalic.woff2') format('woff2'),
        url('/fonts/body/NeueHaasDisplay-RomanItalic.woff') format('woff'),
        url('/fonts/body/NeueHaasDisplay-RomanItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/body/NeueHaasDisplay-Black.eot');
    src: local('NeueHaasDisplay-Black'),
        url('/fonts/body/NeueHaasDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/body/NeueHaasDisplay-Black.woff2') format('woff2'),
        url('/fonts/body/NeueHaasDisplay-Black.woff') format('woff'),
        url('/fonts/body/NeueHaasDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/body/NeueHaasDisplay-MediumItalic.eot');
    src: local('NeueHaasDisplay-MediumItalic'),
        url('/fonts/body/NeueHaasDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/body/NeueHaasDisplay-MediumItalic.woff2') format('woff2'),
        url('/fonts/body/NeueHaasDisplay-MediumItalic.woff') format('woff'),
        url('/fonts/body/NeueHaasDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/body/NeueHaasDisplay-BlackItalic.eot');
    src: local('NeueHaasDisplay-BlackItalic'),
        url('/fonts/body/NeueHaasDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/body/NeueHaasDisplay-BlackItalic.woff2') format('woff2'),
        url('/fonts/body/NeueHaasDisplay-BlackItalic.woff') format('woff'),
        url('/fonts/body/NeueHaasDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/body/NeueHaasDisplay-Roman.eot');
    src: local('NeueHaasDisplay-Roman'),
        url('/fonts/body/NeueHaasDisplay-Roman.eot?#iefix') format('embedded-opentype'),
        url('/fonts/body/NeueHaasDisplay-Roman.woff2') format('woff2'),
        url('/fonts/body/NeueHaasDisplay-Roman.woff') format('woff'),
        url('/fonts/body/NeueHaasDisplay-Roman.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/body/NeueHaasDisplay-BoldItalic.eot');
    src: local('NeueHaasDisplay-BoldItalic'),
        url('/fonts/body/NeueHaasDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/body/NeueHaasDisplay-BoldItalic.woff2') format('woff2'),
        url('/fonts/body/NeueHaasDisplay-BoldItalic.woff') format('woff'),
        url('/fonts/body/NeueHaasDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/body/NeueHaasDisplay-LightItalic.eot');
    src: local('NeueHaasDisplay-LightItalic'),
        url('/fonts/body/NeueHaasDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/body/NeueHaasDisplay-LightItalic.woff2') format('woff2'),
        url('/fonts/body/NeueHaasDisplay-LightItalic.woff') format('woff'),
        url('/fonts/body/NeueHaasDisplay-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/body/NeueHaasDisplay-Bold.eot');
    src: local('NeueHaasDisplay-Bold'),
        url('/fonts/body/NeueHaasDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/body/NeueHaasDisplay-Bold.woff2') format('woff2'),
        url('/fonts/body/NeueHaasDisplay-Bold.woff') format('woff'),
        url('/fonts/body/NeueHaasDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('/fonts/body/NeueHaasDisplay-Light.eot');
    src: local('NeueHaasDisplay-Light'),
        url('/fonts/body/NeueHaasDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/body/NeueHaasDisplay-Light.woff2') format('woff2'),
        url('/fonts/body/NeueHaasDisplay-Light.woff') format('woff'),
        url('/fonts/body/NeueHaasDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}



/* 
    monospace
*/

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/monospace/SourceCodePro-Regular.eot');
    src: local('SourceCodePro Regular'), local('SourceCodePro-Regular'),
        url('/fonts/monospace/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/monospace/SourceCodePro-Regular.woff2') format('woff2'),
        url('/fonts/monospace/SourceCodePro-Regular.woff') format('woff'),
        url('/fonts/monospace/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
