
 /* Happy */
 span.😊 { background-image:url('../images/omoji/happy.svg');}
 span.🙂 { background-image:url('../images/omoji/happy.svg');}
  /* Super happy */
 span.😃 { background-image:url('../images/omoji/super-happy.svg');}
 span.😄 { background-image:url('../images/omoji/super-happy.svg');}
 span.😁 { background-image:url('../images/omoji/super-happy.svg');}
 span.😆 { background-image:url('../images/omoji/super-happy.svg');}
 span.😀 { background-image:url('../images/omoji/super-happy.svg');}
  /* Sad */
 span.☹️  { background-image:url('../images/omoji/sad.svg');}
 span.🙁 { background-image:url('../images/omoji/sad.svg');}
 span.😟 { background-image:url('../images/omoji/sad.svg');}
 span.😒 { background-image:url('../images/omoji/sad.svg');}
 span.😞 { background-image:url('../images/omoji/sad.svg');}
 span.😔 { background-image:url('../images/omoji/sad.svg');}
 
  /* ambivalent */
 span.🙃 { background-image:url('../images/omoji/ambivilant.svg');}
 
  /* suprised */
 span.😦 { background-image:url('../images/omoji/suprised.svg');}
 span.😯 { background-image:url('../images/omoji/suprised.svg');}
 span.😧 { background-image:url('../images/omoji/suprised.svg');}
 span.😮 { background-image:url('../images/omoji/suprised.svg');}
 span.😲 { background-image:url('../images/omoji/suprised.svg');}
 
  /* wink */
 
  /* laughing */