// Defining the units that define all the clamps to ensure they 
// all are defined the same way.


$sitewidth: 86vw;
$maxsitewidth: 720px;

$unit-min: 8px;
$unit: calc($sitewidth/55);
$unit-max: calc($maxsitewidth/55);
// Colors
$light: #FCF9F2;
$dark: #202124;
$blue: #1E96FC;
$yellow: #F7B538;
$green: #0CF574;
$red: #F4442E;
$purple: #624CAB;
$pink: #F991CC;

// Color variations
$dark-80: mix($dark, $light, 80%);
$dark-60: mix($dark, $light, 60%);
$dark-40: mix($dark, $light, 40%);
$dark-20: mix($dark, $light, 20%);

$blue-80: mix($blue, $light, 80%);
$blue-60: mix($blue, $light, 60%);
$blue-40: mix($blue, $light, 40%);
$blue-20: mix($blue, $light, 20%);

$yellow-80: mix($yellow, $light, 80%);
$yellow-60: mix($yellow, $light, 60%);
$yellow-40: mix($yellow, $light, 40%);
$yellow-20: mix($yellow, $light, 20%);

$green-80: mix($green, $light, 80%);
$green-60: mix($green, $light, 60%);
$green-40: mix($green, $light, 40%);
$green-20: mix($green, $light, 20%);

$red-80: mix($red, $light, 80%);
$red-60: mix($red, $light, 60%);
$red-40: mix($red, $light, 40%);
$red-20: mix($red, $light, 20%);

$purple-80: mix($purple, $light, 80%);
$purple-60: mix($purple, $light, 60%);
$purple-40: mix($purple, $light, 40%);
$purple-20: mix($purple, $light, 20%);

$pink-80: mix($pink, $light, 80%);
$pink-60: mix($pink, $light, 60%);
$pink-40: mix($pink, $light, 40%);
$pink-20: mix($pink, $light, 20%);

// Fonts 

$serif : 
    "Kalt Display",
    "STIXGeneral Regular",
    "Times New Roman",
    Serif;

$sans-serif: 
    "Helvetica",
    "Raleway",
    "Arial",
    "Roboto",
    Sans-Serif;

$monospace:
    "Source Code Pro",
    "Courier New",
    Monospace;


// Site sections
$sectionpadding: clamp(75px, 15vh, 175px);
$sectionpadding-double: clamp(150px, 30vh, 350px);

// Borders
$border-width: .1px;
$border: $border-width solid $dark;
$border-radius: 0;

//clamps
$column-divider: 2.4; // % of sitewidth
$big-clamp: clamp($unit-min*3.5, $unit*3.5, $unit-max*3.5);
$medium-clamp: clamp($unit-min*2, $unit*2, $unit-max*2);

/* The following clamps are half of their counterpart.
Example: $big-clamp-half is half of $big-clamp. */
$big-clamp-half: clamp(12px, 3.24vw, 25px);
$medium-clamp-half: clamp($unit-min, $unit, $unit-max);

$medium-clamp-negative: clamp($unit-min - $unit-min*2, $unit - $unit*2, $unit-max - $unit-max*2);
