input[type="submit"].atom{
  border-radius:50%;
  margin-top: clamp($unit-min*3, $unit*3, $unit-max*3);
  text-transform: lowercase;
}
input[type="submit"].atom:hover{
  cursor:pointer;
  background:white;
  border-radius:3px;
}