// PILLS

.pills input{
  display:none; 
}
.pills label{
  font-size:70%;
  padding:2px clamp($unit-min, $unit, $unit-max);
  border:$border;
  border-radius:$border-radius;
  margin-right:clamp($unit-min, $unit, $unit-max);
}