
.username{
  .username{
    input{
      padding-left:clamp($unit-min*4, $unit-val*4, $unit-max*4);
      &:before{
        content:'@';
        display:inline-block;
        position:relative;
        width:20px;
        height:20px;
      }
    }
  }
}