.input-wrap.checkbox{
  padding-top:clamp($unit-min*2, $unit*2, $unit-max*2);
}
input[type="checkbox" i]  {
  width:auto;
}
input[type="checkbox" i] + label{
  font-size:clamp($unit-min*1.5, $unit*1.5, $unit-max*1.5);
}