.dds-currencyAmount{
  width:100%;
}
.dds-currencyAmount .wrap-amount{
  width:85%;
}
.dds-currencyAmount .wrap-currency{
  width:15%;  
}
.dds-currencyAmount .wrap-amount input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.dds-currencyAmount .wrap-currency select{

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left:0;
  text-align:right;
}


.dds-currencyAmount .wrap-amount,
.dds-currencyAmount .wrap-currency{
  display:inline-block;  
}