@font-face {
    font-family: 'Kalt Display';
    src: url('/fonts/display.woff2') format('woff2'),
         url('/fonts/display.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Kalt Body';
    src: url('/fonts/body.woff2') format('woff2'),
         url('/fonts/body.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Kalt Body';
    src: url('/fonts/body-bold.woff2') format('woff2'),
         url('/fonts/body-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Kalt Monospace';
    src: url('/fonts/monospace.woff2') format('woff2'),
         url('/fonts/monospace.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}