// Page wrapper
.page{
  padding: clamp($unit-min*5, $unit*5, $unit-max*5) 0 0 0;
}
main{
  min-height:100vh;
}
//  Sections
.section {
  width: $sitewidth;
  max-width: $maxsitewidth;
  padding: clamp($unit-min*7, $unit*7, $unit-max*7) 0;
  margin:0 auto;
}
.block {
  margin-bottom: clamp($unit-min*10, $unit*10, $unit-max*10);
}
.block:last-child{
  margin-bottom:0;
}
.block.half-margin{
  margin-bottom: clamp($unit-min*5, $unit*5, $unit-max*5);
}
.block.no-margin{
  margin-bottom: 0;
}