// Defining the units that define all the clamps to ensure they 
// all are defined the same way.


$sitewidth: 86vw;
$maxsitewidth: 720px;

$unit-min: 8px;
$unit: calc($sitewidth/55);
$unit-max: calc($maxsitewidth/55);

$unit-n-min: -8px;
$unit-n: calc(($sitewidth/55) - (($sitewidth/55)*2));
$unit-n-max: calc(($maxsitewidth/55) - (($maxsitewidth/55)*2));

$light: #FEFDFA;

$dark: #161719;
$dark-95: mix($dark, $light, 95%);
$dark-90: mix($dark, $light, 90%);
$dark-80: mix($dark, $light, 80%);
$dark-60: mix($dark, $light, 60%);
$dark-40: mix($dark, $light, 40%);
$dark-20: mix($dark, $light, 20%);
$dark-10: mix($dark, $light, 10%);
$dark-5: mix($dark, $light, 5%);

$blue: #5FB0FC;
$blue-80: mix($blue, $light, 80%);
$blue-60: mix($blue, $light, 60%);
$blue-40: mix($blue, $light, 40%);
$blue-20: mix($blue, $light, 20%);
$blue-10: mix($blue, $light, 10%);
$blue-5: mix($blue, $light, 5%);

$marine: #586BA4;
$marine-80: mix($marine, $light, 80%);
$marine-60: mix($marine, $light, 60%);
$marine-40: mix($marine, $light, 40%);
$marine-20: mix($marine, $light, 20%);
$marine-10: mix($marine, $light, 10%);
$marine-5: mix($marine, $light, 5%);

$yellow: #F4D35E;
$yellow-80: mix($yellow, $light, 80%);
$yellow-60: mix($yellow, $light, 60%);
$yellow-40: mix($yellow, $light, 40%);
$yellow-20: mix($yellow, $light, 20%);
$yellow-10: mix($yellow, $light, 10%);
$yellow-5: mix($yellow, $light, 5%);

$green: #C5EAB2;
$green-80: mix($green, $light, 80%);
$green-60: mix($green, $light, 60%);
$green-40: mix($green, $light, 40%);
$green-20: mix($green, $light, 20%);
$green-10: mix($green, $light, 10%);
$green-5: mix($green, $light, 5%);

$turqouse: #8BE8CB;
$turqouse-80: mix($turqouse, $light, 80%);
$turqouse-60: mix($turqouse, $light, 60%);
$turqouse-40: mix($turqouse, $light, 40%);
$turqouse-20: mix($turqouse, $light, 20%);
$turqouse-10: mix($turqouse, $light, 10%);
$turqouse-5: mix($turqouse, $light, 5%);

$red: #ED6A5A;
$red-80: mix($red, $light, 80%);
$red-60: mix($red, $light, 60%);
$red-40: mix($red, $light, 40%);
$red-20: mix($red, $light, 20%);
$red-10: mix($red, $light, 10%);

$purple: #624CAB;
$purple-80: mix($purple, $light, 80%);
$purple-60: mix($purple, $light, 60%);
$purple-40: mix($purple, $light, 40%);
$purple-20: mix($purple, $light, 20%);
$purple-10: mix($purple, $light, 10%);

$pink: #FFC7F2;
$pink-80: mix($pink, $light, 80%);
$pink-60: mix($pink, $light, 60%);
$pink-40: mix($pink, $light, 40%);
$pink-20: mix($pink, $light, 20%);

// Fonts 

$serif : 
    "Kalt Display",
    "STIXGeneral Regular",
    "Times New Roman",
    Serif;

$sans-serif: 
    "Kalt Body",
    "Neue Haas Grotesk Display Pro",
    "Helvetica",
    "Raleway",
    "Arial",
    "Roboto",
    Sans-Serif;

$monospace:
    "Source Code Pro",
    "Courier New",
    Monospace;

// Borders
$border-width: .2px;
$border: $border-width solid $dark;
$border-radius: 0px;

//clamps
$clamp-0-2: clamp($unit-min*0.2, $unit*0.2, $unit-max*0.2);
$clamp-0-5: clamp($unit-min*0.5, $unit*0.5, $unit-max*0.5);
$clamp-0-7: clamp($unit-min*0.7, $unit*0.7, $unit-max*0.7);
$clamp: clamp($unit-min*1, $unit*1, $unit-max*1);
$clamp-1: $clamp;
$clamp-1-5: clamp($unit-min*1.5, $unit*1.5, $unit-max*1.5);
$clamp-1-8: clamp($unit-min*1.7, $unit*1.7, $unit-max*1.7);
$clamp-2: clamp($unit-min*2, $unit*2, $unit-max*2);
$clamp-2-5: clamp($unit-min*2.5, $unit*2.5, $unit-max*2.5);
$clamp-3: clamp($unit-min*3, $unit*3, $unit-max*3);
$clamp-3-5: clamp($unit-min*3.5, $unit*3.5, $unit-max*3.5);
$clamp-4: clamp($unit-min*4, $unit*4, $unit-max*4);
$clamp-4-5: clamp($unit-min*4.5, $unit*4.5, $unit-max*4.5);
$clamp-5: clamp($unit-min*5, $unit*5, $unit-max*5);
$clamp-5-5: clamp($unit-min*5.5, $unit*5.5, $unit-max*5.5);
$clamp-6: clamp($unit-min*6, $unit*6, $unit-max*6);
$clamp-7: clamp($unit-min*7, $unit*7, $unit-max*7);
$clamp-8: clamp($unit-min*8, $unit*8, $unit-max*8);
$clamp-9: clamp($unit-min*9, $unit*9, $unit-max*9);
$clamp-10: clamp($unit-min*10, $unit*10, $unit-max*10);
$clamp-11: clamp($unit-min*11, $unit*11, $unit-max*11);
$clamp-12: clamp($unit-min*12, $unit*12, $unit-max*12);
$clamp-13: clamp($unit-min*13, $unit*13, $unit-max*13);
$clamp-14: clamp($unit-min*14, $unit*14, $unit-max*14);
$clamp-15: clamp($unit-min*15, $unit*15, $unit-max*15);
$clamp-16: clamp($unit-min*16, $unit*16, $unit-max*16);
$clamp-17: clamp($unit-min*17, $unit*17, $unit-max*17);
$clamp-18: clamp($unit-min*18, $unit*18, $unit-max*18);
$clamp-19: clamp($unit-min*19, $unit*19, $unit-max*19);
$clamp-20: clamp($unit-min*20, $unit*20, $unit-max*20);
$clamp-21: clamp($unit-min*21, $unit*21, $unit-max*21);
$clamp-22: clamp($unit-min*22, $unit*22, $unit-max*22);
$clamp-23: clamp($unit-min*23, $unit*23, $unit-max*23);
$clamp-24: clamp($unit-min*24, $unit*24, $unit-max*24);
$clamp-25: clamp($unit-min*25, $unit*25, $unit-max*25);
$clamp-26: clamp($unit-min*26, $unit*26, $unit-max*26);
$clamp-30: clamp($unit-min*30, $unit*30, $unit-max*30);
$clamp-31: clamp($unit-min*31, $unit*31, $unit-max*31);
$clamp-32: clamp($unit-min*32, $unit*32, $unit-max*32);
$clamp-33: clamp($unit-min*33, $unit*33, $unit-max*33);
$clamp-34: clamp($unit-min*34, $unit*34, $unit-max*34);
$clamp-35: clamp($unit-min*35, $unit*35, $unit-max*35);
$clamp-36: clamp($unit-min*36, $unit*36, $unit-max*36);
$clamp-37: clamp($unit-min*37, $unit*37, $unit-max*37);
$clamp-38: clamp($unit-min*38, $unit*38, $unit-max*38);
$clamp-39: clamp($unit-min*39, $unit*39, $unit-max*39);
$clamp-40: clamp($unit-min*40, $unit*40, $unit-max*40);
$clamp-41: clamp($unit-min*41, $unit*41, $unit-max*41);
$clamp-42: clamp($unit-min*42, $unit*42, $unit-max*42);
$clamp-43: clamp($unit-min*43, $unit*43, $unit-max*43);
$clamp-44: clamp($unit-min*44, $unit*44, $unit-max*44);
$clamp-45: clamp($unit-min*45, $unit*45, $unit-max*45);
$clamp-46: clamp($unit-min*46, $unit*46, $unit-max*46);
$clamp-47: clamp($unit-min*47, $unit*47, $unit-max*47);
$clamp-48: clamp($unit-min*48, $unit*48, $unit-max*48);
$clamp-49: clamp($unit-min*49, $unit*49, $unit-max*49);
$clamp-50: clamp($unit-min*50, $unit*50, $unit-max*50);
$clamp-51: clamp($unit-min*51, $unit*51, $unit-max*51);
$clamp-52: clamp($unit-min*52, $unit*52, $unit-max*52);
$clamp-53: clamp($unit-min*53, $unit*53, $unit-max*53);
$clamp-54: clamp($unit-min*54, $unit*54, $unit-max*54);
$clamp-55: clamp($unit-min*55, $unit*55, $unit-max*55);
$clamp-56: clamp($unit-min*56, $unit*56, $unit-max*56);
$clamp-57: clamp($unit-min*57, $unit*57, $unit-max*57);
$clamp-58: clamp($unit-min*58, $unit*58, $unit-max*58);
$clamp-59: clamp($unit-min*59, $unit*59, $unit-max*59);
$clamp-60: clamp($unit-min*60, $unit*60, $unit-max*60);
$clamp-61: clamp($unit-min*61, $unit*61, $unit-max*61);
$clamp-62: clamp($unit-min*62, $unit*62, $unit-max*62);
$clamp-63: clamp($unit-min*63, $unit*63, $unit-max*63);
$clamp-64: clamp($unit-min*64, $unit*64, $unit-max*64);
$clamp-65: clamp($unit-min*65, $unit*65, $unit-max*65);
$clamp-66: clamp($unit-min*66, $unit*66, $unit-max*66);
$clamp-67: clamp($unit-min*67, $unit*67, $unit-max*67);
$clamp-68: clamp($unit-min*68, $unit*68, $unit-max*68);
$clamp-69: clamp($unit-min*69, $unit*69, $unit-max*69);
$clamp-70: clamp($unit-min*70, $unit*70, $unit-max*70);
$clamp-70: clamp($unit-min*70, $unit*70, $unit-max*70);
$clamp-71: clamp($unit-min*71, $unit*71, $unit-max*71);
$clamp-72: clamp($unit-min*72, $unit*72, $unit-max*72);
$clamp-73: clamp($unit-min*73, $unit*73, $unit-max*73);
$clamp-74: clamp($unit-min*74, $unit*74, $unit-max*74);
$clamp-75: clamp($unit-min*75, $unit*75, $unit-max*75);
$clamp-76: clamp($unit-min*76, $unit*76, $unit-max*76);
$clamp-77: clamp($unit-min*77, $unit*77, $unit-max*77);
$clamp-78: clamp($unit-min*78, $unit*78, $unit-max*78);
$clamp-79: clamp($unit-min*79, $unit*79, $unit-max*79);


// negative clamps


$clamp-n-0-2: clamp($unit-n-min*0.2, $unit-n*0.2, $unit-n-max*0.2);
$clamp-n-0-5: clamp($unit-n-min*0.5, $unit-n*0.5, $unit-n-max*0.5);
$clamp-n-0-7: clamp($unit-n-min*0.7, $unit-n*0.7, $unit-n-max*0.7);
$clamp-n-: clamp($unit-n-min*1, $unit-n*1, $unit-n-max*1);
$clamp-n-1: $clamp-n-;
$clamp-n-1-5: clamp($unit-n-min*1.5, $unit-n*1.5, $unit-n-max*1.5);
$clamp-n-1-8: clamp($unit-n-min*1.7, $unit-n*1.7, $unit-n-max*1.7);
$clamp-n-2: clamp($unit-n-min*2, $unit-n*2, $unit-n-max*2);
$clamp-n-2-5: clamp($unit-n-min*2.5, $unit-n*2.5, $unit-n-max*2.5);
$clamp-n-3: clamp($unit-n-min*3, $unit-n*3, $unit-n-max*3);
$clamp-n-3-5: clamp($unit-n-min*3.5, $unit-n*3.5, $unit-n-max*3.5);
$clamp-n-4: clamp($unit-n-min*4, $unit-n*4, $unit-n-max*4);
$clamp-n-4-5: clamp($unit-n-min*4.5, $unit-n*4.5, $unit-n-max*4.5);
$clamp-n-5: clamp($unit-n-min*5, $unit-n*5, $unit-n-max*5);
$clamp-n-5-5: clamp($unit-n-min*5.5, $unit-n*5.5, $unit-n-max*5.5);
$clamp-n-6: clamp($unit-n-min*6, $unit-n*6, $unit-n-max*6);
$clamp-n-7: clamp($unit-n-min*7, $unit-n*7, $unit-n-max*7);
$clamp-n-8: clamp($unit-n-min*8, $unit-n*8, $unit-n-max*8);
$clamp-n-9: clamp($unit-n-min*9, $unit-n*9, $unit-n-max*9);
$clamp-n-10: clamp($unit-n-min*10, $unit-n*10, $unit-n-max*10);
$clamp-n-11: clamp($unit-n-min*11, $unit-n*11, $unit-n-max*11);
$clamp-n-12: clamp($unit-n-min*12, $unit-n*12, $unit-n-max*12);
$clamp-n-13: clamp($unit-n-min*13, $unit-n*13, $unit-n-max*13);
$clamp-n-14: clamp($unit-n-min*14, $unit-n*14, $unit-n-max*14);
$clamp-n-15: clamp($unit-n-min*15, $unit-n*15, $unit-n-max*15);
$clamp-n-16: clamp($unit-n-min*16, $unit-n*16, $unit-n-max*16);
$clamp-n-17: clamp($unit-n-min*17, $unit-n*17, $unit-n-max*17);
$clamp-n-18: clamp($unit-n-min*18, $unit-n*18, $unit-n-max*18);
$clamp-n-19: clamp($unit-n-min*19, $unit-n*19, $unit-n-max*19);
$clamp-n-20: clamp($unit-n-min*20, $unit-n*20, $unit-n-max*20);
$clamp-n-21: clamp($unit-n-min*21, $unit-n*21, $unit-n-max*21);
$clamp-n-22: clamp($unit-n-min*22, $unit-n*22, $unit-n-max*22);
$clamp-n-23: clamp($unit-n-min*23, $unit-n*23, $unit-n-max*23);
$clamp-n-24: clamp($unit-n-min*24, $unit-n*24, $unit-n-max*24);
$clamp-n-25: clamp($unit-n-min*25, $unit-n*25, $unit-n-max*25);
$clamp-n-26: clamp($unit-n-min*26, $unit-n*26, $unit-n-max*26);
$clamp-n-27: clamp($unit-n-min*27, $unit-n*27, $unit-n-max*27);
$clamp-n-28: clamp($unit-n-min*28, $unit-n*28, $unit-n-max*28);
$clamp-n-29: clamp($unit-n-min*29, $unit-n*29, $unit-n-max*29);
$clamp-n-30: clamp($unit-n-min*30, $unit-n*30, $unit-n-max*30);
$clamp-n-31: clamp($unit-n-min*31, $unit-n*31, $unit-n-max*31);
$clamp-n-32: clamp($unit-n-min*32, $unit-n*32, $unit-n-max*32);
$clamp-n-33: clamp($unit-n-min*33, $unit-n*33, $unit-n-max*33);
$clamp-n-34: clamp($unit-n-min*34, $unit-n*34, $unit-n-max*34);
$clamp-n-35: clamp($unit-n-min*35, $unit-n*35, $unit-n-max*35);
$clamp-n-36: clamp($unit-n-min*36, $unit-n*36, $unit-n-max*36);
$clamp-n-37: clamp($unit-n-min*37, $unit-n*37, $unit-n-max*37);
$clamp-n-38: clamp($unit-n-min*38, $unit-n*38, $unit-n-max*38);
$clamp-n-39: clamp($unit-n-min*39, $unit-n*39, $unit-n-max*39);
$clamp-n-40: clamp($unit-n-min*40, $unit-n*40, $unit-n-max*40);
$clamp-n-41: clamp($unit-n-min*41, $unit-n*41, $unit-n-max*41);
$clamp-n-42: clamp($unit-n-min*42, $unit-n*42, $unit-n-max*42);
$clamp-n-43: clamp($unit-n-min*43, $unit-n*43, $unit-n-max*43);
$clamp-n-44: clamp($unit-n-min*44, $unit-n*44, $unit-n-max*44);
$clamp-n-45: clamp($unit-n-min*45, $unit-n*45, $unit-n-max*45);
$clamp-n-46: clamp($unit-n-min*46, $unit-n*46, $unit-n-max*46);
$clamp-n-47: clamp($unit-n-min*47, $unit-n*47, $unit-n-max*47);
$clamp-n-48: clamp($unit-n-min*48, $unit-n*48, $unit-n-max*48);
$clamp-n-49: clamp($unit-n-min*49, $unit-n*49, $unit-n-max*49);
$clamp-n-50: clamp($unit-n-min*50, $unit-n*50, $unit-n-max*50);
$clamp-n-51: clamp($unit-n-min*51, $unit-n*51, $unit-n-max*51);
$clamp-n-52: clamp($unit-n-min*52, $unit-n*52, $unit-n-max*52);
$clamp-n-53: clamp($unit-n-min*53, $unit-n*53, $unit-n-max*53);
$clamp-n-54: clamp($unit-n-min*54, $unit-n*54, $unit-n-max*54);
$clamp-n-55: clamp($unit-n-min*55, $unit-n*55, $unit-n-max*55);
$clamp-n-56: clamp($unit-n-min*56, $unit-n*56, $unit-n-max*56);
$clamp-n-57: clamp($unit-n-min*57, $unit-n*57, $unit-n-max*57);
$clamp-n-58: clamp($unit-n-min*58, $unit-n*58, $unit-n-max*58);
$clamp-n-59: clamp($unit-n-min*59, $unit-n*59, $unit-n-max*59);
$clamp-n-60: clamp($unit-n-min*60, $unit-n*60, $unit-n-max*60);
$clamp-n-61: clamp($unit-n-min*61, $unit-n*61, $unit-n-max*61);
$clamp-n-62: clamp($unit-n-min*62, $unit-n*62, $unit-n-max*62);
$clamp-n-63: clamp($unit-n-min*63, $unit-n*63, $unit-n-max*63);
$clamp-n-64: clamp($unit-n-min*64, $unit-n*64, $unit-n-max*64);
$clamp-n-65: clamp($unit-n-min*65, $unit-n*65, $unit-n-max*65);
$clamp-n-66: clamp($unit-n-min*66, $unit-n*66, $unit-n-max*66);
$clamp-n-67: clamp($unit-n-min*67, $unit-n*67, $unit-n-max*67);
$clamp-n-68: clamp($unit-n-min*68, $unit-n*68, $unit-n-max*68);
$clamp-n-69: clamp($unit-n-min*69, $unit-n*69, $unit-n-max*69);
$clamp-n-70: clamp($unit-n-min*70, $unit-n*70, $unit-n-max*70);
$clamp-n-70: clamp($unit-n-min*70, $unit-n*70, $unit-n-max*70);
$clamp-n-71: clamp($unit-n-min*71, $unit-n*71, $unit-n-max*71);
$clamp-n-72: clamp($unit-n-min*72, $unit-n*72, $unit-n-max*72);
$clamp-n-73: clamp($unit-n-min*73, $unit-n*73, $unit-n-max*73);
$clamp-n-74: clamp($unit-n-min*74, $unit-n*74, $unit-n-max*74);
$clamp-n-75: clamp($unit-n-min*75, $unit-n*75, $unit-n-max*75);
$clamp-n-76: clamp($unit-n-min*76, $unit-n*76, $unit-n-max*76);
$clamp-n-77: clamp($unit-n-min*77, $unit-n*77, $unit-n-max*77);
$clamp-n-78: clamp($unit-n-min*78, $unit-n*78, $unit-n-max*78);
$clamp-n-79: clamp($unit-n-min*79, $unit-n*79, $unit-n-max*79);

