// Defining the units that define all the clamps to ensure they 
// all are defined the same way.


$sitewidth: 86vw;
$maxsitewidth: 720px;

$unit-min: 8px;
$unit: calc($sitewidth/55);
$unit-max: calc($maxsitewidth/55);

$light: #FCF9F2;

$dark: #202124;
$dark-95: mix($dark, $light, 95%);
$dark-90: mix($dark, $light, 90%);
$dark-80: mix($dark, $light, 80%);
$dark-60: mix($dark, $light, 60%);
$dark-40: mix($dark, $light, 40%);
$dark-20: mix($dark, $light, 20%);
$dark-10: mix($dark, $light, 10%);
$dark-5: mix($dark, $light, 5%);

$blue: #1E96FC;
$blue-80: mix($blue, $light, 80%);
$blue-60: mix($blue, $light, 60%);
$blue-40: mix($blue, $light, 40%);
$blue-20: mix($blue, $light, 20%);

$yellow: #F7B538;
$yellow-80: mix($yellow, $light, 80%);
$yellow-60: mix($yellow, $light, 60%);
$yellow-40: mix($yellow, $light, 40%);
$yellow-20: mix($yellow, $light, 20%);

$green: #0CF574;
$green-80: mix($green, $light, 80%);
$green-60: mix($green, $light, 60%);
$green-40: mix($green, $light, 40%);
$green-20: mix($green, $light, 20%);

$red: #F4442E;
$red-80: mix($red, $light, 80%);
$red-60: mix($red, $light, 60%);
$red-40: mix($red, $light, 40%);
$red-20: mix($red, $light, 20%);

$purple: #624CAB;
$purple-80: mix($purple, $light, 80%);
$purple-60: mix($purple, $light, 60%);
$purple-40: mix($purple, $light, 40%);
$purple-20: mix($purple, $light, 20%);

$pink: #F991CC;
$pink-80: mix($pink, $light, 80%);
$pink-60: mix($pink, $light, 60%);
$pink-40: mix($pink, $light, 40%);
$pink-20: mix($pink, $light, 20%);

// Fonts 

$serif : 
    "Kalt Display",
    "STIXGeneral Regular",
    "Times New Roman",
    Serif;

$sans-serif: 
    "Kalt Body",
    "Neue Haas Grotesk Display Pro",
    "Helvetica",
    "Raleway",
    "Arial",
    "Roboto",
    Sans-Serif;

$monospace:
    "Source Code Pro",
    "Courier New",
    Monospace;

// Borders
$border-width: .2px;
$border: $border-width solid $dark;
$border-radius: 0px;

//clamps
$big-clamp: clamp($unit-min*3.5, $unit*3.5, $unit-max*3.5);

$clamp-0-2: clamp($unit-min*0.2 , $unit*0.2, $unit-max*0.2);
$clamp-0-5: clamp($unit-min*0.5 , $unit*0.5, $unit-max*0.5);
$clamp-0-7: clamp($unit-min*0.7 , $unit*0.7, $unit-max*0.7);
$clamp: clamp($unit-min*1 , $unit*1, $unit-max*1);
$clamp-1: $clamp;
$clamp-1-5: clamp($unit-min*1.5 , $unit*1.5, $unit-max*1.5);
$clamp-1-8: clamp($unit-min*1.7 , $unit*1.7, $unit-max*1.7);
$clamp-2: clamp($unit-min*2 , $unit*2, $unit-max*2);
$clamp-2-5: clamp($unit-min*2.5 , $unit*2.5, $unit-max*2.5);
$clamp-3: clamp($unit-min*3 , $unit*3, $unit-max*3);
$clamp-3-5: clamp($unit-min*3.5 , $unit*3.5, $unit-max*3.5);
$clamp-4: clamp($unit-min*4 , $unit*4, $unit-max*4);
$clamp-4-5: clamp($unit-min*4.5 , $unit*4.5, $unit-max*4.5);
$clamp-5: clamp($unit-min*5 , $unit*5, $unit-max*5);
$clamp-5-5: clamp($unit-min*5.5 , $unit*5.5, $unit-max*5.5);
$clamp-6: clamp($unit-min*6 , $unit*6, $unit-max*6);
$clamp-7: clamp($unit-min*7 , $unit*7, $unit-max*7);
$clamp-8: clamp($unit-min*8 , $unit*8, $unit-max*8);
$clamp-9: clamp($unit-min*9 , $unit*9, $unit-max*9);
$clamp-10: clamp($unit-min*10 , $unit*10, $unit-max*10);
$clamp-11: clamp($unit-min*11 , $unit*11, $unit-max*11);
$clamp-12: clamp($unit-min*12 , $unit*12, $unit-max*12);
$clamp-15: clamp($unit-min*15 , $unit*15, $unit-max*15);
$clamp-16: clamp($unit-min*16 , $unit*16, $unit-max*16);
$clamp-17: clamp($unit-min*17 , $unit*17, $unit-max*17);
$clamp-18: clamp($unit-min*18 , $unit*18, $unit-max*18);
$clamp-19: clamp($unit-min*19 , $unit*19, $unit-max*19);
$clamp-20: clamp($unit-min*20 , $unit*20, $unit-max*20);
$clamp-21: clamp($unit-min*21 , $unit*21, $unit-max*21);
$clamp-22: clamp($unit-min*22 , $unit*22, $unit-max*22);
$clamp-23: clamp($unit-min*23 , $unit*23, $unit-max*23);
$clamp-24: clamp($unit-min*24 , $unit*24, $unit-max*24);
$clamp-25: clamp($unit-min*25 , $unit*25, $unit-max*25);
$clamp-26: clamp($unit-min*26 , $unit*26, $unit-max*26);
$clamp-30: clamp($unit-min*30 , $unit*30, $unit-max*30);
$clamp-35: clamp($unit-min*35 , $unit*35, $unit-max*35);
$clamp-39: clamp($unit-min*39 , $unit*39, $unit-max*39);
$clamp-40: clamp($unit-min*40 , $unit*40, $unit-max*40);
$clamp-45: clamp($unit-min*45 , $unit*45, $unit-max*45);
$clamp-46: clamp($unit-min*46 , $unit*46, $unit-max*46);
$clamp-47: clamp($unit-min*47 , $unit*47, $unit-max*47);
$clamp-70: clamp($unit-min*70 , $unit*70, $unit-max*70);