.impact{
  padding:clamp($unit-min*10, $unit*10, $unit-max*10)
}
.impact.green{
  background:$green;
  background: url('/grain-30.png'), radial-gradient(71.84% 71.84% at 82.76% 87.64%, $green 0%, $green-60 100%), #FCF9F2;
  background-repeat:repeat;
}
.impact.red{
  background:$red;
}
.impact.pink{
  background:$pink;
}

