

.layout.questions .back-button{
  padding: $big-clamp-half 0 0 $big-clamp-half;
  @include font-body;
  font-size:clamp($unit-min*2, $unit*2, $unit-max*2);
  position:fixed;
}
.layout.questions .back-button:hover{
  cursor:pointer;
}
.layout.questions .section{
  padding-top:0px;
}

.layout.questions p,
.layout.questions h1{
  background-color:#fff;
  padding:clamp($unit-min, $unit, $unit-max) clamp($unit-min*2, $unit*2, $unit-max*2);
  border-radius:clamp($unit-min, $unit, $unit-max);
  @include font-body;
  font-size:110%;
  display:inline-block;
  width:auto;
}
.layout.questions h1{
  margin-left:clamp($unit-min*6, $unit*6, $unit-max*6);
  float:right;
  background: $blue-60;
}
.layout.questions p{
  margin-top:clamp($unit-min, $unit, $unit-max);
  margin-right:clamp($unit-min*6, $unit*6, $unit-max*6);
  margin-bottom:clamp($unit-min, $unit, $unit-max);
  background: $green-60;
  position: relative;
}